<!doctype html>
<html lang="en">
  <head> 
    <meta charset="utf-8">
    <meta name="robots" content="index, follow, archive">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="description" content="{{ page.content | strip_html | strip_newlines | truncate: maxmeta | escape }}">
    <meta name="keywords" content="">
    <meta name="google-site-verification" content="oWg2J4dY3iWAFEik74Rdzx-fCF_-Yde7dCNroVYIIGU">
    <title>Select Your Gekks</title>
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="icon" type="image/png" href="{{ 'Gekks-Favicon.png' | asset_url }}">
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'custom.scss.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'jquery.min.js' | asset_url }}"></script>
    <script src="{{  'api.jquery.js' | shopify_asset_url }}" async></script>
<script type="application/javascript">(function(w,d,t,r,u){w[u]=w[u]||[];w[u].push({'projectId':'10000','properties':{'pixelId':'10035757'}});var s=d.createElement(t);s.src=r;s.async=true;s.onload=s.onreadystatechange=function(){var y,rs=this.readyState,c=w[u];if(rs&&rs!="complete"&&rs!="loaded"){return}try{y=YAHOO.ywa.I13N.fireBeacon;w[u]=[];w[u].push=function(p){y([p])};y(c)}catch(e){}};var scr=d.getElementsByTagName(t)[0],par=scr.parentNode;par.insertBefore(s,scr)})(window,document,"script","https://s.yimg.com/wi/ytc.js","dotq");</script>
    <script type="text/javascript">
      var global_money_format = '{{ shop.money_format }}';
    </script>
    {{ content_for_header }}
       <script type="application/javascript">(function(w,d,t,r,u){w[u]=w[u]||[];w[u].push({'projectId':'10000','properties':{'pixelId':'10035757'}});var s=d.createElement(t);s.src=r;s.async=true;s.onload=s.onreadystatechange=function(){var y,rs=this.readyState,c=w[u];if(rs&&rs!="complete"&&rs!="loaded"){return}try{y=YAHOO.ywa.I13N.fireBeacon;w[u]=[];w[u].push=function(p){y([p])};y(c)}catch(e){}};var scr=d.getElementsByTagName(t)[0],par=scr.parentNode;par.insertBefore(s,scr)})(window,document,"script","https://s.yimg.com/wi/ytc.js","dotq");</script>
  </head>
  <body>

    {% if shop.metafields.locksmith.active %}{% include 'locksmith' %}{% else %}{{ content_for_layout }}{% endif %}
    
    <!-- Google Code for Remarketing Tag -->
    <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 973442114;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
      <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/973442114/?value=0&amp;guid=ON&amp;script=0"/>
      </div>
    </noscript>    
    <!-- END Google Code for Remarketing Tag --> 
  </body>
</html>
