<style>#ctadb{width: 40%; height: 100px; margin: 50px 0; line-height: 100px; font-size: 24pt;}#ctadb:first-of-type{margin-right: 3%;}#sub-head{text-align: center;margin-top:0;}#slid-b{margin-top: 20px;}#newsletter{background-color: transparent}#masonry ul{position: absolute; width: 100%; max-width: 1366px; overflow: hidden;}.w-control-bar__region--right{display: none !important;}#gia{background-image: url("{{'gekksloading.gif' | asset_url}}"); background-repeat: no-repeat; background-position: center;margin-bottom:0;}


#tongue-fasten, #moisture-wick, #no-show { box-shadow: 5px 5px 5px lightgrey; }

#heel-fasten, #odor-killing {    box-shadow: 5px 0px 5px lightgrey; }
#int-wrapper, #int-wrapper-do {
	margin: 0 auto;
	text-align: center;
	background: url("{{'sneaker-neon.png' | asset_url}}");
	    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.text-solution {
   position: relative;
    text-align: center;
    padding: 10px 5px;
    display: inline-block;
    height: auto;
    line-height: normal;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#int-wrapper div p  {
    display: inline-block;
}

#int-wrapper .text-solution p {
  line-height: normal;
  vertical-align: middle;
}

@media only screen and (max-width:589px) {
.label-vis:after, .up-label-vis:after {
    left: calc(50% - 10px);
    top: 70px;
}
#int-wrapper-do { display: none; }

#no-show {
  margin-top: 55px;
}

#tongue-fasten {
	left: -64px;
    top: 80px;
   }

   #moisture-wick {
   	right: -30px;
   	top: 80px;
   }

   #odor-killing {
    top: -230px;
    left: -85px;
}
  #heel-fasten {
    top: -205px;
    left: 10px;
}

.slb:before { margin-top: 20px; }

.info-label {width: 300px;}

body .text-solution-below:before { margin-top: -55px; }

body .card-photo {
    height: 75px;
    width: 75px;
  }

 .text-solution:before {
    top: 25px;
    width: 20px;
    height:20px;
    line-height: 20px;
    font-size: 16pt;
}

body .up-label-vis:after {
	top: -56px;
}

	.text-solution {
    font-size: 8pt;
    width: 66px;
}
#int-wrapper {
    width: 320px;
    height: 285px;
}

  #int-wrapper .plus-more p {
    line-height: 20px;
    font-size: 29px;
}

#tb-one {
    top: 40px;
    left: -18px;
}

#tb-two {
    top: 30px;
    right: 21px;
}
 
 #tb-five {
    top: 144px;
    right: 25px;
}

 #tb-three {
    top: 87px;
    left: 60px;
}

 #tb-four {
    top: 195px;
    right: 230px;
}
 #atf-word{
 	font-size: 20pt;
 }
 }

 #atf-word{
 	text-align: center;
 }
 .text-solution:before {
 	margin-top: 20px;
    background-color: #33ffcc;
    border-radius: 50%;
    box-sizing: border-box;
    color: white;
    content: "+";
    display: block;
    font-weight: 300;
    left: calc(50% - 10px);
    position: absolute;
    cursor: pointer;
        transition: -webkit-transform .1s;
    transition: transform .1s;
    transition: transform .1s,-webkit-transform .1s;
}

.label-vis:before, .up-label-vis:before {
	    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.info-label {
    display: none;
    position: absolute;
    z-index: 99;
    background: white;
    padding: 20px;
    text-align: left;
}
 
b { font-weight: 700; }

.label-vis:after, .up-label-vis:after {
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    box-sizing: border-box;
    content: "";
    position: absolute;
    z-index: 5;
}

body .up-label-vis:after {
	transform: rotate(180deg);
	    -webkit-transform: rotate(180deg);
}

.card-photo {
    border-radius: 50%;
    border: 2px solid #33ffcc;
/*    max-height: 50%;
*/    max-width: 50%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }

.card-text {
    margin-top: 5px;
    max-width: 63%;
    display: inline-block;
    margin-left: 5%;
    float: right;
    font-weight: lighter;
}


@media only screen and (min-width: 589px) and (max-width: 799px) {
#tongue-fasten {
    left: -80px;
    top: 139px;
}

#no-show {
    top: 139px;
    left: 55px;
}

#moisture-wick {
    right: -30px;
    top: 139px;
}

#odor-killing {
    top: -415px;
    left: -165px;
}

#heel-fasten {
    top: -363px;
    left: 10px;
}

.slb:before { margin-top: 45px; }

.card-photo {
    height: 130px;
    width: 130px;
  }

	#int-wrapper {
    width: 590px;
    height: 450px;
}

.text-solution {
    font-size: 16pt;
    width: 160px;
}

  #int-wrapper .plus-more p {
    line-height: 20px;
    font-size: 29px;
}

#tb-one {
    top: 70px;
    left: -70px;
}

#tb-two {
    top: 15px;
    right: 85px;
}

#tb-five {
    top: 250px;
    right: 120px;
}
 #tb-three  {
    top: 130px;
    left: -10px;
}

#tb-four {
    top: 255px;
    right: 140px;
}
 #atf-word{ 
 	font-size: 30pt;
 	margin-top: 5%;
 }
 .text-solution:before {
    top: 50px;
        width: 30px;
    height:30px;
    line-height: 30px;
    font-size: 30pt;
}

body .text-solution-below:before { margin-top: -115px; }

.info-label {width: 500px;}

.label-vis:after, .up-label-vis:after {
    left: calc(50% - 5px);
    top: 130px;
}

body .up-label-vis:after {
	top: -85px;
}

#int-wrapper-do { display: none; }

}

@media only screen and (min-width: 800px) {
	#int-wrapper { display: none; }
	#int-wrapper-do .do-text{ 
		display: inline-block;
 		border-left: 2px solid black;
    	max-width: 25%;
    	text-align: left;
    	padding-left: 15px;
    	position: relative;
	}

	body #int-wrapper-do .do-text-below { border-left: none; }

	body #int-wrapper-do .do-text-below .b-title, body #int-wrapper-do .do-text-below .do-explain { border-left: 2px solid black; padding-left: 10px; }

	body .do-text-below .do-benefit, body .do-text-below .do-plus { padding-left: 10px; }
	#int-wrapper-do { height: 800px; width: 800px; margin-top: 5%;}

	.do-explain, .do-benefit { 
    font-weight: lighter;
    margin-top: 10px;
    line-height: normal;
    font-size: 11pt;
} 
	.b-title { font-size: 14pt; line-height: normal; }
	.do-benefit b { font-weight: normal; }

	.border-left { border-left: 2px solid black;}
  #do-no-show {
    left: -5px;
    top: 56px;
    height: 275px;
}

  #do-tongue-fasten {
    left: 30px;
    height: 250px;
    top: 41px;
}

  #do-moisture-wick {
    right: -75px;
    height: 250px;
    top: 117px;
}

.invis {     visibility: hidden;
 }

  #do-odor-killing {
    top: 184px;
    right: 33px;
}

.do-text div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #33ffcc;
    font-size: 17pt;
    line-height: 25px;
    text-align: center;
    margin-top: 5%;
    color: white;
}  

#do-odor-killing .b-title { padding-top: 100px; }
  
  #do-heel-fasten {
    left: -125px;
    top: 158px;
}

.rotate { 
   transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
 }

#do-heel-fasten .b-title { padding-top: 100px; }

#do-heel-fasten .do-explain, #do-odor-killing .do-explain { margin-top: 0; padding-top: 10px; }

}
</style>

{% comment %}
-Safari rotate bug
-bottom show / hide / invisible mess
-change photos (in email from Blair)
-add responsiveness with side arrows
-add box shadow on mobile where doesn't hit arrows
{% endcomment %}
<div class="index-sections"> <div id="additional-sections"> <div class="cbb-ignored-image">
<h1 id="atf-word">socks reinvented</h1>
<div id="int-wrapper-do">
	<div class="do-text" id="do-no-show">
		<p class="b-title"><b>No show. Really</b></p>
		<p class="do-explain">Gekks line the interior heel, sole, and tongue of your shoe providing a complete no-show solution.</p>
		<div>+</div>
		<p class="do-benefit invis"><b>Benefit:</b> Don’t embarrass yourself with no-shows that…show.</p>
	</div>
	<div class="do-text" id="do-tongue-fasten">
		<p class="b-title"><b>Patented fastening system</b></p>
		<p class="do-explain">Micro-thin fastener connects the sock to the inside of your shoe.</p>
		<div>+</div>
		<p class="do-benefit invis"><b>Benefit:</b> Installation to your shoe allows you to slip in and out barefoot on the go.</p>
	</div>
	<div class="do-text" id="do-moisture-wick">
		<p class="b-title"><b>Moisture wicking</b></p>
		<p class="do-explain">Our moisture wicking fibers work to pull the moisture out of your foot for a dry feel.</p>
		<div>+</div>
		<p class="do-benefit invis""><b>Benefit:</b> Stay cool and fresh all day.</p>
	</div>
	<div class="do-text do-text-below" id="do-heel-fasten">
		<p class="b-title"><b>Patented fastening system</b></p>
		<p class="do-explain">Micro-thin fastener connects the sock to the inside of your shoe.</p>
		<div class="do-plus">+</div>
		<p class="do-benefit invis" ><b>Benefit:</b> Stop using regular no-shows that slide down your ankle, bunch up, and don’t protect against blisters.</p>
	</div>
	<div class="do-text do-text-below" id="do-odor-killing">
		<p class="b-title"><b>Odor killing yarn</b></p>
		<p class="do-explain">Gekks are knit with high-tech silver anti-microbial yarn used by NASA to eliminate odor as you sweat.</p>
		<div class="do-plus">+</div>
		<p class="do-benefit invis"><b>Benefit:</b> Leave Gekks inside your shoes for months without washing, without them getting dirty.</p>
	</div>
</div>
<div id="int-wrapper">
  <div class="text-solution" id="tb-one">
    <div><p>no-show</p></div>
    <div class="info-label" id="no-show">
    	<img src="{{'no-show.png' | asset_url}}" class="card-photo" />
    	<div class="card-text">Gekks line the interior heel, sole, and tongue of your shoe providing a no-show solution.<br><br><b>benefit:</b> go sockless with confidence and style.  don’t embarrass yourself with no-shows that... show.</div>
    </div>
  </div>
  <div class="text-solution slb" id="tb-two">
  	<div><p>fastening<br>system</p></div>
 	 <div class="info-label" id="tongue-fasten">
    	<img src="{{'front-tongue.jpg' | asset_url}}" class="card-photo" />
    	<div class="card-text">micro-thin fastener connects the sock to the inside of your shoe.<br><br>
    	<b>benefit:</b> installed to your shoe versus placed on foot provides the convenience of slipping in and out barefoot on the go.</div>
    </div>
   </div>
  <div class="text-solution slb" id="tb-three">
  	<div><p>moisture <br>wicking</p></div>
 	  <div class="info-label" id="moisture-wick">
    	<img src="{{'moisture-wicking.png' | asset_url}}" class="card-photo" />
    	<div class="card-text">knit with high quality moisture wicking fibers.<br><br>
    	<b>benefit:</b> stay cool, comfortable and fresh on a long weekend day.</div>
      </div>  
   </div>
  <div class="text-solution text-solution-below slb" id="tb-four">
  	<div><p>fastening<br>system</p></div>
 	  <div class="info-label" id="heel-fasten">
    	<img src="{{'backheel2.png' | asset_url}}" class="card-photo" />
    	<div class="card-text">micro-thin fastener connects the sock to the inside of your shoe.<br><br>
    	<b>benefit:</b> stop using regular no-shows that slide down your ankle, bunch up and don’t protect against blisters.</div> 
    </div>  
   </div>
  <div class="text-solution text-solution-below slb" id="tb-five">
  	<div><p>odor <br>killing</p></div>
 	  <div class="info-label" id="odor-killing">
    	<img src="{{'odor-killing.png' | asset_url}}" class="card-photo" />
    	<div class="card-text">Gekks are knit with high-tech silver anti-microbial yarn used by NASA and the military to eliminate odor as you sweat.<br><br>
    	<b>benefit:</b> leave Gekks inside your shoes for months without washing. they’re cleaner than wearing socks or going barefoot!</div>
      </div>  
   </div>
</div>
<script>
$('.text-solution').click(function(){
	var $this = $(this)
	$this.siblings().removeClass('up-label-vis').removeClass('label-vis').children('.info-label').hide();
	if ($this.hasClass('text-solution-below')) {
		$this.toggleClass('up-label-vis');
	}
	else {
	 $this.toggleClass('label-vis');
	}
	$this.children('.info-label').toggle(); 
});

$('.do-text div').click(function(){
	$(this).toggleClass('rotate')
	$(this).siblings('.do-benefit').toggleClass('invis');
	if ($(this).parent().hasClass('do-text-below')) {
		$(this).siblings('.do-benefit').toggleClass('border-left')
	}
});

$(document).ready(function() {
	if (window.width < 800) {
$('body').on('click touchend', function(e) {
    var target = $(e.target);
    if(!target.is('.text-solution') ){
       if ( $('.info-label').is(':visible') ) {
       	$('.info-label').hide(); 
       	$('.text-solution').removeClass('label-vis');
       	$('.text-solution-below').removeClass('up-label-vis');
    }
  }
});
}
  });
</script>
<script type="text/javascript">!function(b,c,d,e,f,g,h){function k(){function d(a,b){c.push({zc:a,yc:b})}function e(a,b){j.$Each(c,function(d,e){d.zc==a&&d.yc===b&&c.splice(e,1)})}var a=this,c=[];a.$On=a.addEventListener=d,a.$Off=a.removeEventListener=e,a.m=function(a){var d=[].slice.call(arguments,1);j.$Each(c,function(c){c.zc==a&&c.yc.apply(b,d)})}}function p(a,b,c){var d=this;l.call(d,0,c),d.Dd=j.Cd,d.be=0,d.de=c}new function(){};var i=b.$Jease$={$Swing:function(a){return-d.cos(a*d.PI)/2+.5},$Linear:function(a){return a},$InQuad:function(a){return a*a},$OutQuad:function(a){return-a*(a-2)},$InOutQuad:function(a){return(a*=2)<1?.5*a*a:-.5*(--a*(a-2)-1)},$InCubic:function(a){return a*a*a},$OutCubic:function(a){return(a-=1)*a*a+1},$InOutCubic:function(a){return(a*=2)<1?.5*a*a*a:.5*((a-=2)*a*a+2)},$InQuart:function(a){return a*a*a*a},$OutQuart:function(a){return-((a-=1)*a*a*a-1)},$InOutQuart:function(a){return(a*=2)<1?.5*a*a*a*a:-.5*((a-=2)*a*a*a-2)},$InQuint:function(a){return a*a*a*a*a},$OutQuint:function(a){return(a-=1)*a*a*a*a+1},$InOutQuint:function(a){return(a*=2)<1?.5*a*a*a*a*a:.5*((a-=2)*a*a*a*a+2)},$InSine:function(a){return 1-d.cos(d.PI/2*a)},$OutSine:function(a){return d.sin(d.PI/2*a)},$InOutSine:function(a){return-.5*(d.cos(d.PI*a)-1)},$InExpo:function(a){return 0==a?0:d.pow(2,10*(a-1))},$OutExpo:function(a){return 1==a?1:-d.pow(2,-10*a)+1},$InOutExpo:function(a){return 0==a||1==a?a:(a*=2)<1?.5*d.pow(2,10*(a-1)):.5*(-d.pow(2,-10*--a)+2)},$InCirc:function(a){return-(d.sqrt(1-a*a)-1)},$OutCirc:function(a){return d.sqrt(1-(a-=1)*a)},$InOutCirc:function(a){return(a*=2)<1?-.5*(d.sqrt(1-a*a)-1):.5*(d.sqrt(1-(a-=2)*a)+1)},$InElastic:function(a){if(!a||1==a)return a;var b=.3,c=.075;return-(d.pow(2,10*(a-=1))*d.sin(2*(a-c)*d.PI/b))},$OutElastic:function(a){if(!a||1==a)return a;var b=.3,c=.075;return d.pow(2,-10*a)*d.sin(2*(a-c)*d.PI/b)+1},$InOutElastic:function(a){if(!a||1==a)return a;var b=.45,c=.1125;return(a*=2)<1?-.5*d.pow(2,10*(a-=1))*d.sin(2*(a-c)*d.PI/b):d.pow(2,-10*(a-=1))*d.sin(2*(a-c)*d.PI/b)*.5+1},$InBack:function(a){var b=1.70158;return a*a*((b+1)*a-b)},$OutBack:function(a){var b=1.70158;return(a-=1)*a*((b+1)*a+b)+1},$InOutBack:function(a){var b=1.70158;return(a*=2)<1?.5*a*a*(((b*=1.525)+1)*a-b):.5*((a-=2)*a*(((b*=1.525)+1)*a+b)+2)},$InBounce:function(a){return 1-i.$OutBounce(1-a)},$OutBounce:function(a){return a<1/2.75?7.5625*a*a:a<2/2.75?7.5625*(a-=1.5/2.75)*a+.75:a<2.5/2.75?7.5625*(a-=2.25/2.75)*a+.9375:7.5625*(a-=2.625/2.75)*a+.984375},$InOutBounce:function(a){return a<.5?.5*i.$InBounce(2*a):.5*i.$OutBounce(2*a-1)+.5},$GoBack:function(a){return 1-d.abs(1)},$InWave:function(a){return 1-d.cos(a*d.PI*2)},$OutWave:function(a){return d.sin(a*d.PI*2)},$OutJump:function(a){return 1-((a*=2)<1?(a=1-a)*a*a:(a-=1)*a*a)},$InJump:function(a){return(a*=2)<1?a*a*a:(a=2-a)*a*a},$Instant:d.ceil};b.$JssorEasing$={$EaseSwing:i.$Swing,$EaseLinear:i.$Linear,$EaseInQuad:i.$InQuad,$EaseOutQuad:i.$OutQuad,$EaseInOutQuad:i.$InOutQuad,$EaseInCubic:i.$InCubic,$EaseOutCubic:i.$OutCubic,$EaseInOutCubic:i.$InOutCubic,$EaseInQuart:i.$InQuart,$EaseOutQuart:i.$OutQuart,$EaseInOutQuart:i.$InOutQuart,$EaseInQuint:i.$InQuint,$EaseOutQuint:i.$OutQuint,$EaseInOutQuint:i.$InOutQuint,$EaseInSine:i.$InSine,$EaseOutSine:i.$OutSine,$EaseInOutSine:i.$InOutSine,$EaseInExpo:i.$InExpo,$EaseOutExpo:i.$OutExpo,$EaseInOutExpo:i.$InOutExpo,$EaseInCirc:i.$InCirc,$EaseOutCirc:i.$OutCirc,$EaseInOutCirc:i.$InOutCirc,$EaseInElastic:i.$InElastic,$EaseOutElastic:i.$OutElastic,$EaseInOutElastic:i.$InOutElastic,$EaseInBack:i.$InBack,$EaseOutBack:i.$OutBack,$EaseInOutBack:i.$InOutBack,$EaseInBounce:i.$InBounce,$EaseOutBounce:i.$OutBounce,$EaseInOutBounce:i.$InOutBounce,$EaseGoBack:i.$GoBack,$EaseInWave:i.$InWave,$EaseOutWave:i.$OutWave,$EaseOutJump:i.$OutJump,$EaseInJump:i.$InJump};var j=b.$Jssor$=new function(){function C(){if(!r){r={Af:"ontouchstart"in b||"createTouch"in c};var a;(x.pointerEnabled||(a=x.msPointerEnabled))&&(r.ce=a?"msTouchAction":"touchAction")}return r}function D(a){if(!s)if(s=-1,"Microsoft Internet Explorer"==y&&b.attachEvent&&b.ActiveXObject){var d=z.indexOf("MSIE");s=m,u=B(z.substring(d+5,z.indexOf(";",d))),t=c.documentMode||u}else if("Netscape"==y&&b.addEventListener){var e=z.indexOf("Firefox"),f=z.indexOf("Safari"),g=z.indexOf("Chrome"),h=z.indexOf("AppleWebKit");if(e>=0)s=n,t=B(z.substring(e+8));else if(f>=0){var i=z.substring(0,f).lastIndexOf("/");s=g>=0?p:o,t=B(z.substring(i+1,f))}else{var j=/Trident\/.*rv:([0-9]{1,}[\.0-9]{0,})/i.exec(z);j&&(s=m,t=u=B(j[1]))}h>=0&&(w=B(z.substring(h+12)))}else{var j=/(opera)(?:.*version|)[ \/]([\w.]+)/i.exec(z);j&&(s=q,t=B(j[2]))}return a==s}function E(){return D(m)}function F(){return E()&&(t<6||"BackCompat"==c.compatMode)}function G(){return D(n)}function H(){return D(o)}function I(){return D(p)}function J(){return D(q)}function K(){return H()&&w>534&&w<535}function L(){return D(),w>537||t>42||s==m&&t>=11}function M(){return E()&&t<9}function N(a){var b,c;return function(d){if(!b){b=f;var e=a.substr(0,1).toUpperCase()+a.substr(1);S([a].concat(["WebKit","ms","Moz","O","webkit"]),function(b,f){var g=a;if(f&&(g=b+e),d.style[g]!=h)return c=g})}return c}}function O(a){var b;return function(c){return b=b||N(a)(c)||a}}function Q(a){return{}.toString.call(a)}function S(a,b){var c,d;if("[object Array]"==Q(a)){for(c=0;c<a.length;c++)if(d=b(a[c],c,a))return d}else for(c in a)if(d=b(a[c],c,a))return d}function T(a){return a==e?String(a):R[Q(a)]||"object"}function U(a){for(var b in a)return f}function V(a){try{return"object"==T(a)&&!a.nodeType&&a!=a.window&&(!a.constructor||{}.hasOwnProperty.call(a.constructor.prototype,"isPrototypeOf"))}catch(a){}}function W(a,b){return{x:a,y:b}}function X(a,b){setTimeout(a,b||0)}function Y(a,b,c){var d=a&&"inherit"!=a?a:"";return S(b,function(a){var b=a.exec(d);if(b){var c=d.substr(0,b.index),e=d.substr(b.index+b[0].length+1,d.length-1);d=c+e}}),d=c+(d.indexOf(" ")?" ":"")+d}function Z(a,b){t<9&&(a.style.filter=b)}function $(a){a.constructor===$.caller&&a.se&&a.se.apply(a,$.caller.arguments)}function _(a){return a||b.event}function aa(a,c,d){if(d===h){var f=a.currentStyle||a.style;return d=f[c],""==d&&b.getComputedStyle&&(f=a.ownerDocument.defaultView.getComputedStyle(a,e),f&&(d=f.getPropertyValue(c)||f[c])),d}a.style[c]=d==h?"":d}function ba(a,b,c,d){return c===h?B(aa(a,b)):(c==e?c="":d&&(c+="px"),void aa(a,b,c))}function ca(a,b){var d,c=b?ba:aa;return 4&b&&(d=O(a)),function(e,f){return c(e,d?d(e):a,f,2&b)}}function da(a){if(E()&&u<9){var b=/opacity=([^)]*)/.exec(a.style.filter||"");return b?B(b[1])/100:1}return B(a.style.opacity||"1")}function ea(a,b,c){if(E()&&u<9){var e=a.style.filter||"",f=new RegExp(/[\s]*alpha\([^\)]*\)/g),g=d.round(100*b),h="";(g<100||c)&&(h="alpha(opacity="+g+") ");var i=Y(e,[f],h);Z(a,i)}else a.style.opacity=1==b?"":d.round(100*b)/100}function ga(a,b){var c="";b&&(E()&&t&&t<10&&(delete b.$RotateX,delete b.$RotateY,delete b.$TranslateZ),j.$Each(b,function(a,b){var d=fa[b];if(d){var e=d[1]||0;Ba[b]!=a&&(c+=" "+d[0]+"("+a+["deg","px",""][e]+")")}}),L()&&((b.$TranslateX||b.$TranslateY||b.$TranslateZ!=h)&&(c+=" translate3d("+(b.$TranslateX||0)+"px,"+(b.$TranslateY||0)+"px,"+(b.$TranslateZ||0)+"px)"),b.$ScaleX==h&&(b.$ScaleX=1),b.$ScaleY==h&&(b.$ScaleY=1),1==b.$ScaleX&&1==b.$ScaleY||(c+=" scale3d("+b.$ScaleX+", "+b.$ScaleY+", 1)"))),a.style[P(a)]=c}function ha(a,b,c,d){for(d=d||"u",a=a?a.firstChild:e;a;a=a.nextSibling)if(1==a.nodeType){if(pa(a,d)==b)return a;if(!c){var f=ha(a,b,c,d);if(f)return f}}}function ia(a,b,c,d){d=d||"u";var f=[];for(a=a?a.firstChild:e;a;a=a.nextSibling)if(1==a.nodeType&&(pa(a,d)==b&&f.push(a),!c)){var g=ia(a,b,c,d);g.length&&(f=f.concat(g))}return f}function ja(a,b,c){for(a=a?a.firstChild:e;a;a=a.nextSibling)if(1==a.nodeType){if(a.tagName==b)return a;if(!c){var d=ja(a,b,c);if(d)return d}}}function ka(a,b,c){var d=[];for(a=a?a.firstChild:e;a;a=a.nextSibling)if(1==a.nodeType&&((!b||a.tagName==b)&&d.push(a),!c)){var f=ka(a,b,c);f.length&&(d=d.concat(f))}return d}function la(){var b,c,d,e,a=arguments,f=1&a[0],g=1+f;for(b=a[g-1]||{};g<a.length;g++)if(c=a[g])for(d in c)if(e=c[d],e!==h){e=c[d];var i=b[d];b[d]=f&&(V(i)||V(e))?la(f,{},i,e):e}return b}function ma(a,b){var d,e,f,c={};for(d in a)if(e=a[d],f=b[d],e!==f){var g;V(e)&&V(f)&&(e=ma(e,f),g=!U(e)),!g&&(c[d]=e)}return c}function na(a){return c.createElement(a)}function oa(a,b,c){return c==h?a.getAttribute(b):void a.setAttribute(b,c)}function pa(a,b){return oa(a,b)||oa(a,"data-"+b)}function qa(a,b){return b==h?a.className:void(a.className=b)}function ra(a){var b={};return S(a,function(a){a!=h&&(b[a]=a)}),b}function sa(a,b){return a.match(b||l)}function ta(a,b){return ra(sa(a||"",b))}function ua(a,b){var c="";return S(b,function(b){c&&(c+=a),c+=b}),c}function va(a,b,c){qa(a,ua(" ",la(ma(ta(qa(a)),ta(b)),ta(c))))}function wa(a,b,c){var d=a.cloneNode(!b);return!c&&k.Wf(d,"id"),d}function xa(a){function n(){va(a,g,f[m||i||2&l||l]),j.$Css(a,"pointer-events",m?"none":"")}function o(){i=0,n(),k.S(c,"mouseup",o),k.S(c,"touchend",o),k.S(c,"touchcancel",o)}function p(a){m?k.$CancelEvent(a):(i=4,n(),k.$AddEvent(c,"mouseup",o),k.$AddEvent(c,"touchend",o),k.$AddEvent(c,"touchcancel",o))}var g,b=this,d="",e=["av","pv","ds","dn"],f=[],i=0,l=0,m=0;b.id=function(a){return a===h?l:(l=2&a||1&a,void n())},b.$Enable=function(a){return a===h?!m:(m=a?0:3,void n())},b.$Elmt=a=k.$GetElement(a);var q=j.hg(qa(a));q&&(d=q.shift()),S(e,function(a){f.push(d+a)}),g=ua(" ",f),f.unshift(""),k.$AddEvent(a,"mousedown",p),k.$AddEvent(a,"touchstart",p)}function za(a,b){function j(a,b,c){var e=a.rb(W(-b/2,-c/2)),f=a.rb(W(b/2,-c/2)),g=a.rb(W(b/2,c/2)),h=a.rb(W(-b/2,c/2));return a.rb(W(300,300)),W(d.min(e.x,f.x,g.x,h.x)+b/2,d.min(e.y,f.y,g.y,h.y)+c/2)}function l(a,b){b=b||{};var d=b.$TranslateZ||0,e=(b.$RotateX||0)%360,g=(b.$RotateY||0)%360,l=(b.$Rotate||0)%360,m=b.$ScaleX,n=b.$ScaleY,o=b.Lh;m==h&&(m=1),n==h&&(n=1),o==h&&(o=1),c&&(d=0,e=0,g=0,o=0);var p=new Aa(b.$TranslateX,b.$TranslateY,d);if(p.$RotateX(e),p.$RotateY(g),p.Se(l),p.Me(b.$SkewX,b.$SkewY),p.$Scale(m,n,o),f)p.$Move(b.F,b.E),a.style[i]=p.Ke();else if(!v||v<9){var q="",r={x:0,y:0};b.$OriginalWidth&&(r=j(p,b.$OriginalWidth,b.$OriginalHeight)),k.uc(a,r.y),k.wc(a,r.x),q=p.Le();var s=a.style.filter,t=new RegExp(/[\s]*progid:DXImageTransform\.Microsoft\.Matrix\([^\)]*\)/g),u=Y(s,[t],q);Z(a,u)}}var c=M(),f=L(),g=K(),i=P(a);za=function(a,b){b=b||{};var i,c=b.F,d=b.E;S(ya,function(c,d){i=b[d],i!==h&&c(a,i)}),k.dg(a,b.$Clip),f||(c!=h&&k.u(a,(b.Fd||0)+c),d!=h&&k.z(a,(b.Ed||0)+d)),b.Re&&(g?X(k.$CreateCallback(e,ga,a,b)):l(a,b))},k.qb=ga,g&&(k.qb=za),c?k.qb=l:f||(l=ga),k.N=za,za(a,b)}function Aa(b,c,f){function l(a){return a*d.PI/180}function m(a,b){return{x:a,y:b}}function n(a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,A,B,C,D,E,F){return[a*q+b*u+c*y+d*C,a*r+b*v+c*z+d*D,a*s+b*w+c*A+d*E,a*t+b*x+c*B+d*F,e*q+f*u+g*y+h*C,e*r+f*v+g*z+h*D,e*s+f*w+g*A+h*E,e*t+f*x+g*B+h*F,i*q+j*u+k*y+l*C,i*r+j*v+k*z+l*D,i*s+j*w+k*A+l*E,i*t+j*x+k*B+l*F,m*q+n*u+o*y+p*C,m*r+n*v+o*z+p*D,m*s+n*w+o*A+p*E,m*t+n*x+o*B+p*F]}function o(a,b){return n.apply(e,(b||h).concat(a))}var g=this,h=[1,0,0,0,0,1,0,0,0,0,1,0,b||0,c||0,f||0,1],i=d.sin,j=d.cos,k=d.tan;g.$Scale=function(a,b,c){1==a&&1==b&&1==c||(h=o([a,0,0,0,0,b,0,0,0,0,c,0,0,0,0,1]))},g.$Move=function(a,b,c){h[12]+=a||0,h[13]+=b||0,h[14]+=c||0},g.$RotateX=function(b){if(b){a=l(b);var c=j(a),d=i(a);h=o([1,0,0,0,0,c,d,0,0,-d,c,0,0,0,0,1])}},g.$RotateY=function(b){if(b){a=l(b);var c=j(a),d=i(a);h=o([c,0,-d,0,0,1,0,0,d,0,c,0,0,0,0,1])}},g.Se=function(b){if(b){a=l(b);var c=j(a),d=i(a);h=o([c,d,0,0,-d,c,0,0,0,0,1,0,0,0,0,1])}},g.Me=function(a,d){(a||d)&&(b=l(a),c=l(d),h=o([1,k(c),0,0,k(b),1,0,0,0,0,1,0,0,0,0,1]))},g.rb=function(a){var b=o(h,[1,0,0,0,0,1,0,0,0,0,1,0,a.x,a.y,0,1]);return m(b[12],b[13])},g.Ke=function(){return"matrix3d("+h.join(",")+")"},g.Le=function(){return"progid:DXImageTransform.Microsoft.Matrix(M11="+h[0]+", M12="+h[4]+", M21="+h[1]+", M22="+h[5]+", SizingMethod='auto expand')"}}function Ca(a,b){var c={};return S(a,function(a,d){var e=a;b[d]!=h&&(e=k.ec(a)?a+b[d]:Ca(a,b[d])),c[d]=e}),c}var r,k=this,l=/\S+/g,m=1,n=2,o=3,p=4,q=5,s=0,t=0,u=0,v=0,w=0,x=navigator,y=x.appName,z=x.userAgent,A=c.documentElement,B=parseFloat,P=O("transform"),R={};S(["Boolean","Number","String","Function","Array","Date","RegExp","Object"],function(a){R["[object "+a+"]"]=a.toLowerCase()}),k.$Device=C,k.$IsBrowserIE=E,k.$IsBrowserIeQuirks=F,k.$IsBrowserFireFox=G,k.$IsBrowserSafari=H,k.$IsBrowserChrome=I,k.$IsBrowserOpera=J,k.Of=L,k.Mb=M,N("transform"),k.$BrowserVersion=function(){return t},k.$BrowserEngineVersion=function(){return u||t},k.$WebKitVersion=function(){return D(),w},k.$Delay=X,k.se=$,k.$GetElement=function(a){return k.Jf(a)&&(a=c.getElementById(a)),a},k.we=_,k.$EvtSrc=function(a){a=_(a);var b=a.target||a.srcElement||c;return 3==b.nodeType&&(b=k.re(b)),b},k.ge=function(a){return a=_(a),{x:a.pageX||a.clientX||0,y:a.pageY||a.clientY||0}},k.$WindowSize=function(){var a=c.body;return{x:a.clientWidth||A.clientWidth,y:a.clientHeight||A.clientHeight}};var fa={$Rotate:["rotate"],$RotateX:["rotateX"],$RotateY:["rotateY"],$SkewX:["skewX"],$SkewY:["skewY"]};L()||(fa=la(fa,{$ScaleX:["scaleX",2],$ScaleY:["scaleY",2],$TranslateZ:["translateZ",1]})),k.ke=ca("transformOrigin",4),k.wf=ca("backfaceVisibility",4),k.jf=ca("transformStyle",4),k.hf=ca("perspective",6),k.lf=ca("perspectiveOrigin",4),k.kf=function(a,b){if(E()&&u<9||u<10&&F())a.style.zoom=1==b?"":b;else{var c=P(a),d="scale("+b+")",e=a.style[c],f=new RegExp(/[\s]*scale\(.*?\)/g),g=Y(e,[f],d);a.style[c]=g}},k.Rb=function(a,b){return function(c){c=_(c);var d=c.type,e=c.relatedTarget||("mouseout"==d?c.toElement:c.fromElement);(!e||e!==b&&!k.gf(b,e))&&a(c)}},k.$AddEvent=function(a,b,c,d){a=k.$GetElement(a),a.addEventListener?("mousewheel"==b&&a.addEventListener("DOMMouseScroll",c,d),a.addEventListener(b,c,d)):a.attachEvent&&(a.attachEvent("on"+b,c),d&&a.setCapture&&a.setCapture())},k.S=function(a,b,c,d){a=k.$GetElement(a),a.removeEventListener?("mousewheel"==b&&a.removeEventListener("DOMMouseScroll",c,d),a.removeEventListener(b,c,d)):a.detachEvent&&(a.detachEvent("on"+b,c),d&&a.releaseCapture&&a.releaseCapture())},k.$FireEvent=function(a,b){var d;if(c.createEvent)d=c.createEvent("HTMLEvents"),d.initEvent(b,g,g),a.dispatchEvent(d);else{var e="on"+b;d=c.createEventObject(),a.fireEvent(e,d)}},k.$CancelEvent=function(a){a=_(a),a.preventDefault&&a.preventDefault(),a.cancel=f,a.returnValue=g},k.$StopEvent=function(a){a=_(a),a.stopPropagation&&a.stopPropagation(),a.cancelBubble=f},k.$CreateCallback=function(a,b){var c=[].slice.call(arguments,2),d=function(){var d=c.concat([].slice.call(arguments,0));return b.apply(a,d)};return d},k.$InnerText=function(a,b){if(b==h)return a.textContent||a.innerText;var d=c.createTextNode(b);k.Bc(a),a.appendChild(d)},k.$InnerHtml=function(a,b){return b==h?a.innerHTML:void(a.innerHTML=b)},k.$ClearInnerHtml=function(a){a.innerHTML=""},k.$Children=function(a,b){for(var c=[],d=a.firstChild;d;d=d.nextSibling)(b||1==d.nodeType)&&c.push(d);return c},k.$FindChild=ha,k.of=ja,k.nf=ka,k.qf=function(a,b){return a.getElementsByTagName(b)},k.p=la,k.xd=function(a){return"function"==T(a)},k.Jf=function(a){return"string"==T(a)},k.ec=function(a){return!isNaN(B(a))&&isFinite(a)},k.$Each=S,k.Td=V,k.$CreateElement=na,k.$CreateDiv=function(){return na("DIV")},k.fg=function(){return na("SPAN")},k.Cd=function(){},k.$Attribute=oa,k.$AttributeEx=pa,k.oc=qa,k.hg=sa,k.re=function(a){return a.parentNode},k.V=function(a){k.hb(a,"none")},k.A=function(a,b){k.hb(a,b?"none":"")},k.Wf=function(a,b){a.removeAttribute(b)},k.ag=function(){return E()&&t<10},k.dg=function(a,b){if(b)a.style.clip="rect("+d.round(b.$Top||b.E||0)+"px "+d.round(b.$Right)+"px "+d.round(b.$Bottom)+"px "+d.round(b.$Left||b.F||0)+"px)";else if(b!==h){var c=a.style.cssText,e=[new RegExp(/[\s]*clip: rect\(.*?\)[;]?/i),new RegExp(/[\s]*cliptop: .*?[;]?/i),new RegExp(/[\s]*clipright: .*?[;]?/i),new RegExp(/[\s]*clipbottom: .*?[;]?/i),new RegExp(/[\s]*clipleft: .*?[;]?/i)],f=Y(c,e,"");j.$CssCssText(a,f)}},k.R=function(){return+new Date},k.$AppendChild=function(a,b){a.appendChild(b)},k.hc=function(a,b,c){(c||b.parentNode).insertBefore(a,b)},k.Gb=function(a,b){b=b||a.parentNode,b&&b.removeChild(a)},k.Xf=function(a,b){S(a,function(a){k.Gb(a,b)})},k.Bc=function(a){k.Xf(k.$Children(a,f),a)},k.eg=function(a,b){var c=k.re(a);1&b&&k.u(a,(k.$CssWidth(c)-k.$CssWidth(a))/2),2&b&&k.z(a,(k.$CssHeight(c)-k.$CssHeight(a))/2)},k.gc=function(a,b){return parseInt(a,b||10)},k.Ae=B,k.gf=function(a,b){for(var d=c.body;b&&a!==b&&d!==b;)try{b=b.parentNode}catch(a){return g}return a===b},k.$CloneNode=wa,k.Eb=function(a,b){function d(a,f){k.S(c,"load",d),k.S(c,"abort",e),k.S(c,"error",e),b&&b(c,f)}function e(a){d(a,f)}var c=new Image;J()&&t<11.6||!a?d(!a):(k.$AddEvent(c,"load",d),k.$AddEvent(c,"abort",e),k.$AddEvent(c,"error",e),c.src=a)},k.Ee=function(a,b,c){function e(a){d--,b&&a&&a.src==b.src&&(b=a),!d&&c&&c(b)}var d=a.length+1;S(a,function(a){k.Eb(a.src,e)}),e()},k.dd=function(a,b,c,d){d&&(a=wa(a));var e=ia(a,b);e.length||(e=j.qf(a,b));for(var f=e.length-1;f>-1;f--){var g=e[f],h=wa(c);qa(h,qa(g)),j.$CssCssText(h,g.style.cssText),j.hc(h,g),j.Gb(g)}return a},k.mc=function(a){return new xa(a)},k.$Css=aa,k.mb=ca("overflow"),k.z=ca("top",2),k.u=ca("left",2),k.$CssWidth=ca("width",2),k.$CssHeight=ca("height",2),k.wc=ca("marginLeft",2),k.uc=ca("marginTop",2),k.C=ca("position"),k.hb=ca("display"),k.H=ca("zIndex",1),k.Lb=function(a,b,c){return b==h?da(a):void ea(a,b,c)},k.$CssCssText=function(a,b){return b==h?a.style.cssText:void(a.style.cssText=b)},k.Te=function(a,b){if(b===h){b=aa(a,"backgroundImage")||"";var c=/\burl\s*\(\s*["']?([^"'\r\n,]+)["']?\s*\)/gi.exec(b)||[];return c[1]}aa(a,"backgroundImage",b?"url('"+b+"')":"")};var ya={$Opacity:k.Lb,$Top:k.z,$Left:k.u,Q:k.$CssWidth,T:k.$CssHeight,Kb:k.C,Mh:k.hb,$ZIndex:k.H};k.qb=za,k.N=za,new function(){function b(a,b){for(var c=a[0].length,d=a.length,e=b[0].length,f=[],g=0;g<d;g++)for(var h=f[g]=[],i=0;i<e;i++){for(var j=0,k=0;k<c;k++)j+=a[g][k]*b[k][i];h[i]=j}return f}var a=this;a.$ScaleX=function(b,c){return a.Tc(b,c,0)},a.$ScaleY=function(b,c){return a.Tc(b,0,c)},a.Tc=function(a,c,d){return b(a,[[c,0],[0,d]])},a.rb=function(a,c){var d=b(a,[[c.x],[c.y]]);return W(d[0][0],d[1][0])}};var Ba={Fd:0,Ed:0,F:0,E:0,$Zoom:1,$ScaleX:1,$ScaleY:1,$Rotate:0,$RotateX:0,$RotateY:0,$TranslateX:0,$TranslateY:0,$TranslateZ:0,$SkewX:0,$SkewY:0};k.Dc=function(a,b){var c=a||{};return a&&(j.xd(a)?c={Z:c}:j.xd(a.$Clip)&&(c.$Clip={Z:a.$Clip})),c.Z=c.Z||b,c.$Clip&&(c.$Clip.Z=c.$Clip.Z||b),c},k.Ze=Ca,k.Xc=function(a,b,c,g,k,l,m){var n=b;if(a){n={};for(var o in b){var p=l[o]||1,q=k[o]||[0,1],r=(c-q[0])/q[1];r=d.min(d.max(r,0),1),r*=p;var s=d.floor(r);r!=s&&(r-=s);var u,t=g.Z||i.$Linear,v=a[o],w=b[o];if(j.ec(w)){t=g[o]||t;var x=t(r);u=v+w*x}else{u=j.p({Sb:{}},a[o]);var y=g[o]||{};j.$Each(w.Sb||w,function(a,b){t=y[b]||y.Z||t;var c=t(r),d=a*c;u.Sb[b]=d,u[b]+=d})}n[o]=u}var z=j.$Each(b,function(a,b){return Ba[b]!=h});z&&j.$Each(Ba,function(b,c){n[c]==h&&a[c]!==h&&(n[c]=a[c])}),z&&(n.$Zoom&&(n.$ScaleX=n.$ScaleY=n.$Zoom),n.$OriginalWidth=m.$OriginalWidth,n.$OriginalHeight=m.$OriginalHeight,n.Re=f)}if(b.$Clip&&m.$Move){var A=n.$Clip.Sb,B=(A.$Top||0)+(A.$Bottom||0),C=(A.$Left||0)+(A.$Right||0);n.$Left=(n.$Left||0)+C,n.$Top=(n.$Top||0)+B,n.$Clip.$Left-=C,n.$Clip.$Right-=C,n.$Clip.$Top-=B,n.$Clip.$Bottom-=B}return!n.$Clip||!j.ag()||n.$Clip.$Top||n.$Clip.$Left||n.$Clip.E||n.$Clip.F||n.$Clip.$Right!=m.$OriginalWidth||n.$Clip.$Bottom!=m.$OriginalHeight||(n.$Clip=e),n}},l=function(a,c,h,i,k,l){function H(a){B+=a,C+=a,A+=a,x+=a,y+=a,w+=a}function I(a){var b=a;if(D&&(!E&&(b>=C||b<B)||E&&b>=B)&&(b=((b-B)%D+D)%D+B),!z||q||x!=b){var e=d.min(b,C);if(e=d.max(e,B),!z||q||e!=y){if(l){var g=(e-A)/(c||1);h.$Reverse&&(g=1-g);var n=j.Xc(k,l,g,s,u,t,h);G?j.$Each(n,function(a,b){G[b]&&G[b](i,a)}):j.N(i,n)}m.Gc(y-A,e-A);var o=y,p=y=e;j.$Each(F,function(a,c){var d=!z&&E||b<=x?F[F.length-c-1]:a;d.I(y-w)}),x=b,z=f,m.Tb(o,p)}}}function J(a,b,c){b&&a.$Shift(C),c||(B=d.min(B,a.Yb()+w),C=d.max(C,a.vb()+w)),F.push(a)}function L(){if(n){var a=j.R(),b=d.min(a-r,h.xe),c=x+b*p;r=a,c*p>=o*p&&(c=o),I(c),!q&&c*p>=o*p?N(v):K(L)}}function M(a,b,c){n||(n=f,q=c,v=b,a=d.max(a,B),a=d.min(a,C),o=a,p=o<x?-1:1,m.te(),r=j.R(),K(L))}function N(a){n&&(q=n=v=g,m.ue(),a&&a())}a=a||0;var n,o,p,q,s,t,u,v,z,A,B,C,D,E,G,m=this,r=0,w=0,x=0,y=0,F=[],K=b.requestAnimationFrame||b.webkitRequestAnimationFrame||b.mozRequestAnimationFrame||b.msRequestAnimationFrame;j.$IsBrowserSafari()&&j.$BrowserVersion()<7&&(K=e),K=K||function(a){j.$Delay(a,h.$Interval)},m.$Play=function(a,b,c){M(a?x+a:C,b,c)},m.Pd=M,m.ub=N,m.Qe=function(a){M(a)},m.gb=function(){return x},m.Sd=function(){return o},m.xb=function(){return y},m.I=I,m.Ne=function(){I(C,f)},m.$Move=function(a){I(x+a)},m.$IsPlaying=function(){return n},m.af=function(a){D=a},m.$Shift=H,m.O=function(a,b){J(a,0,b)},m.sc=function(a){J(a,1)},m.Ud=function(a){C+=a},m.Yb=function(){return B},m.vb=function(){return C},m.Tb=m.te=m.ue=m.Gc=j.Cd,m.tc=j.R(),h=j.p({$Interval:16,xe:50},h),D=h.Pc,E=h.We,G=h.Ce,B=A=a,C=a+c,t=h.$Round||{},u=h.$During||{},s=j.Dc(h.$Easing)},m=b.$JssorSlideshowFormations$=new function(){function x(a){return(a&i)==i}function y(a){return(a&j)==j}function z(a,b,c){c.push(b),a[b]=a[b]||[],a[b].push(c)}var a=this,b=0,c=1,e=2,g=3,h=1,i=2,j=4,k=8,l=256,m=512,n=1024,o=2048,p=o+h,q=o+i,r=m+h,s=m+i,t=l+j,u=l+k,v=n+j,w=n+k;a.$FormationStraight=function(a){for(var l,b=a.$Cols,c=a.$Rows,d=a.$Assembly,e=a.fc,f=[],g=0,h=0,i=b-1,j=c-1,k=e-1,h=0;h<c;h++)for(g=0;g<b;g++){switch(d){case p:l=k-(g*c+(j-h));break;case v:l=k-(h*b+(i-g));break;case r:l=k-(g*c+h);case t:l=k-(h*b+g);break;case q:l=g*c+h;break;case u:l=h*b+(i-g);break;case s:l=g*c+(j-h);break;default:l=h*b+g}z(f,l,[h,g])}return f},a.$FormationSwirl=function(a){var y,A,d=a.$Cols,h=a.$Rows,i=a.$Assembly,j=a.fc,k=[],l=[],m=0,n=0,o=0,w=d-1,x=h-1,B=0;switch(i){case p:n=w,o=0,A=[e,c,g,b];break;case v:n=0,o=x,A=[b,g,c,e];break;case r:n=w,o=x,A=[g,c,e,b];break;case t:n=w,o=x,A=[c,g,b,e];break;case q:n=0,o=0,A=[e,b,g,c];break;case u:n=w,o=0,A=[c,e,b,g];break;case s:n=0,o=x,A=[g,b,e,c];break;default:n=0,o=0,A=[b,e,c,g]}for(m=0;m<j;){if(y=o+","+n,n>=0&&n<d&&o>=0&&o<h&&!l[y])l[y]=f,z(k,m++,[o,n]);else switch(A[B++%A.length]){case b:n--;break;case e:o--;break;case c:n++;break;case g:o++}switch(A[B%A.length]){case b:n++;break;case e:o++;break;case c:n--;break;case g:o--}}return k},a.$FormationZigZag=function(a){var w,x,d=a.$Cols,f=a.$Rows,h=a.$Assembly,i=a.fc,j=[],k=0,l=0,m=0,n=d-1,o=f-1,y=0;switch(h){case p:l=n,m=0,x=[e,c,g,c];break;case v:l=0,m=o,x=[b,g,c,g];break;case r:l=n,m=o,x=[g,c,e,c];break;case t:l=n,m=o,x=[c,g,b,g];break;case q:l=0,m=0,x=[e,b,g,b];break;case u:l=n,m=0,x=[c,e,b,e];break;case s:l=0,m=o,x=[g,b,e,b];break;default:l=0,m=0,x=[b,e,c,e]}for(k=0;k<i;)if(w=m+","+l,l>=0&&l<d&&m>=0&&m<f&&"undefined"==typeof j[w])switch(z(j,k++,[m,l]),x[y%x.length]){case b:l++;break;case e:m++;break;case c:l--;break;case g:m--}else{switch(x[y++%x.length]){case b:l--;break;case e:m--;break;case c:l++;break;case g:m++}switch(x[y++%x.length]){case b:l++;break;case e:m++;break;case c:l--;break;case g:m--}}return j},a.$FormationStraightStairs=function(a){var b=a.$Cols,c=a.$Rows,d=a.$Assembly,e=a.fc,f=[],g=0,h=0,i=0,j=b-1,k=c-1,l=e-1;switch(d){case p:case s:case r:case q:var m=0,n=0;break;case u:case v:case t:case w:var m=j,n=0;break;default:d=w;var m=j,n=0}for(h=m,i=n;g<e;){switch(y(d)||x(d)?z(f,l-g++,[i,h]):z(f,g++,[i,h]),d){case p:case s:h--,i++;break;case r:case q:h++,i--;break;case u:case v:h--,i--;break;case w:case t:default:h++,i++}if(h<0||i<0||h>j||i>k){switch(d){case p:case s:m++;break;case u:case v:case r:case q:n++;break;case w:case t:default:m--}if(m<0||n<0||m>j||n>k){switch(d){case p:case s:m=j,n++;break;case r:case q:n=k,m++;break;case u:case v:n=k,m--;break;case w:case t:default:m=0,n++}n>k?n=k:n<0?n=0:m>j?m=j:m<0&&(m=0)}i=n,h=m}}return f},a.$FormationSquare=function(a){var f,g,h,i,j,b=a.$Cols||1,c=a.$Rows||1,e=[];for(h=b<c?(c-b)/2:0,i=b>c?(b-c)/2:0,j=d.round(d.max(b/2,c/2))+1,f=0;f<b;f++)for(g=0;g<c;g++)z(e,j-d.min(f+1+h,g+1+i,b-f+h,c-g+i),[g,f]);return e},a.$FormationRectangle=function(a){var f,g,h,b=a.$Cols||1,c=a.$Rows||1,e=[];for(h=d.round(d.min(b/2,c/2))+1,f=0;f<b;f++)for(g=0;g<c;g++)z(e,h-d.min(f+1,g+1,b-f,c-g),[g,f]);return e},a.$FormationRandom=function(a){for(var c,b=[],e=0;e<a.$Rows;e++)for(c=0;c<a.$Cols;c++)z(b,d.ceil(1e5*d.random())%13,[e,c]);return b},a.$FormationCircle=function(a){for(var f,b=a.$Cols||1,c=a.$Rows||1,e=[],g=b/2-.5,h=c/2-.5,i=0;i<b;i++)for(f=0;f<c;f++)z(e,d.round(d.sqrt(d.pow(i-g,2)+d.pow(f-h,2))),[f,i]);return e},a.$FormationCross=function(a){for(var f,b=a.$Cols||1,c=a.$Rows||1,e=[],g=b/2-.5,h=c/2-.5,i=0;i<b;i++)for(f=0;f<c;f++)z(e,d.round(d.min(d.abs(i-g),d.abs(f-h))),[f,i]);return e},a.$FormationRectangleCross=function(a){for(var f,b=a.$Cols||1,c=a.$Rows||1,e=[],g=b/2-.5,h=c/2-.5,i=d.max(g,h)+1,j=0;j<b;j++)for(f=0;f<c;f++)z(e,d.round(i-d.max(g-d.abs(j-g),h-d.abs(f-h)))-1,[f,j]);return e}};b.$JssorSlideshowRunner$=function(a,b,c,h,n){function w(a){a.$Top&&(a.E=a.$Top),a.$Left&&(a.F=a.$Left),j.$Each(a,function(a){j.Td(a)&&w(a)})}function x(a,b){var c={$Interval:b,$Duration:1,$Delay:0,$Cols:1,$Rows:1,$Opacity:0,$Zoom:0,$Clip:0,$Move:g,$SlideOut:g,$Reverse:g,$Formation:m.$FormationRandom,$Assembly:1032,$ChessMode:{$Column:0,$Row:0},$Easing:i.$Swing,$Round:{},Wb:[],$During:{}};return j.p(c,a),w(c),c.fc=c.$Cols*c.$Rows,c.$Easing=j.Dc(c.$Easing,i.$Swing),c.Xe=d.ceil(c.$Duration/c.$Interval),c.Ye=function(a,b){a/=c.$Cols,b/=c.$Rows;var d=a+"x"+b;if(!c.Wb[d]){c.Wb[d]={Q:a,T:b};for(var e=0;e<c.$Cols;e++)for(var f=0;f<c.$Rows;f++)c.Wb[d][f+","+e]={$Top:f*b,$Right:e*a+a,$Bottom:f*b+b,$Left:e*a}}return c.Wb[d]},c.$Brother&&(c.$Brother=x(c.$Brother,b),c.$SlideOut=f),c}function y(a,b,c,h,i,k){function C(a){var b=a.$Formation(a);return a.$Reverse?b.reverse():b}var m,q,r,s,B,l=this,n={},o={},p=[],t=c.$ChessMode.$Column||0,u=c.$ChessMode.$Row||0,v=c.Ye(i,k),w=C(c),x=w.length-1,y=c.$Duration+c.$Delay*x,z=h+y,A=c.$SlideOut;if(z+=50,l.Od=z,l.Zb=function(a){a-=h;var b=a<y;if(b||B){B=b,A||(a=y-a);var e=d.ceil(a/c.$Interval);j.$Each(o,function(a,b){var c=d.max(e,a.Oe);c=d.min(c,a.length-1),a.qe!=c&&(a.qe||A?c==a.Ie&&A&&j.V(p[b]):j.A(p[b]),a.qe=c,j.N(p[b],a[c]))})}},b=j.$CloneNode(b),j.qb(b,e),j.Mb()){var D=!b["no-image"],E=j.nf(b);j.$Each(E,function(a){(D||a["jssor-slider"])&&j.Lb(a,j.Lb(a),f)})}j.$Each(w,function(a,b){j.$Each(a,function(a){var e=a[0],h=a[1],l=e+","+h,p=g,w=g,x=g;t&&h%2&&(3&t&&(p=!p),12&t&&(w=!w),16&t&&(x=!x)),u&&e%2&&(3&u&&(p=!p),12&u&&(w=!w),16&u&&(x=!x)),c.$Top=c.$Top||4&c.$Clip,c.$Bottom=c.$Bottom||8&c.$Clip,c.$Left=c.$Left||1&c.$Clip,c.$Right=c.$Right||2&c.$Clip;var y=w?c.$Bottom:c.$Top,z=w?c.$Top:c.$Bottom,B=p?c.$Right:c.$Left,C=p?c.$Left:c.$Right;c.$Clip=y||z||B||C,s={},r={E:0,F:0,$Opacity:1,Q:i,T:k},q=j.p({},r),m=j.p({},v[l]),c.$Opacity&&(r.$Opacity=2-c.$Opacity),c.$ZIndex&&(r.$ZIndex=c.$ZIndex,q.$ZIndex=0);var D=c.$Cols*c.$Rows>1||c.$Clip;if(c.$Zoom||c.$Rotate){var E=f;if(j.Mb()&&(c.$Cols*c.$Rows>1?E=g:D=g),E){r.$Zoom=c.$Zoom?c.$Zoom-1:1,q.$Zoom=1,(j.Mb()||j.$IsBrowserOpera())&&(r.$Zoom=d.min(r.$Zoom,2));var F=c.$Rotate||0;r.$Rotate=360*F*(x?-1:1),q.$Rotate=0}}if(D){var G=m.Sb={};if(c.$Clip){var H=c.$ScaleClip||1;y&&z?(G.$Top=v.T/2*H,G.$Bottom=-G.$Top):y?G.$Bottom=-v.T*H:z&&(G.$Top=v.T*H),B&&C?(G.$Left=v.Q/2*H,G.$Right=-G.$Left):B?G.$Right=-v.Q*H:C&&(G.$Left=v.Q*H)}s.$Clip=m,q.$Clip=v[l]}var I=p?1:-1,J=w?1:-1;c.x&&(r.F+=i*c.x*I),c.y&&(r.E+=k*c.y*J),j.$Each(r,function(a,b){j.ec(a)&&a!=q[b]&&(s[b]=a-q[b])}),n[l]=A?q:r;var K=c.Xe,L=d.round(b*c.$Delay/c.$Interval);o[l]=new Array(L),o[l].Oe=L,o[l].Ie=L+K-1;for(var M=0;M<=K;M++){var N=j.Xc(q,s,M/K,c.$Easing,c.$During,c.$Round,{$Move:c.$Move,$OriginalWidth:i,$OriginalHeight:k});N.$ZIndex=N.$ZIndex||1,o[l].push(N)}})}),w.reverse(),j.$Each(w,function(c){j.$Each(c,function(c){var d=c[0],e=c[1],f=d+","+e,g=b;(e||d)&&(g=j.$CloneNode(b)),j.N(g,n[f]),j.mb(g,"hidden"),j.C(g,"absolute"),a.Ge(g),p[f]=g,j.A(g,!A)})})}function z(){var a=this,b=0;l.call(a,0,p),a.Tb=function(a,c){c-b>v&&(b=c,r&&r.Zb(c),q&&q.Zb(c))},a.rc=u}var p,q,r,u,o=this,s=0,t=h.$TransitionsOrder,v=8;o.Be=function(){var a=0,b=h.$Transitions,c=b.length;return a=t?s++%c:d.floor(d.random()*c),b[a]&&(b[a].sb=a),b[a]},o.Pe=function(e,f,g,h,i){u=i,i=x(i,v);var j=h.od,k=g.od;j["no-image"]=!h.Ub,k["no-image"]=!g.Ub;var l=j,m=k,n=i,s=i.$Brother||x({},v);i.$SlideOut||(l=k,m=j);var t=s.$Shift||0;q=new y(a,m,s,d.max(t-s.$Interval,0),b,c),r=new y(a,l,n,d.max(s.$Interval-t,0),b,c),q.Zb(0),r.Zb(0),p=d.max(q.Od,r.Od),o.sb=e},o.Jb=function(){a.Jb(),q=e,r=e},o.Ve=function(){var a=e;return r&&(a=new z),a},(j.Mb()||j.$IsBrowserOpera()||n&&j.$WebKitVersion()<537)&&(v=16),k.call(o),l.call(o,-1e7,1e7)};var n=b.$JssorSlider$=function(a,m){function r(){var a=this;l.call(a,-1e8,2e8),a.ye=function(){var b=a.xb(),c=d.floor(b),e=P(c),f=b-d.floor(b);return{sb:e,De:c,Kb:f}},a.Tb=function(a,b){var c=d.floor(b);c!=b&&b>a&&c++,L(c,f),q.m(n.$EVT_POSITION_CHANGE,P(b),P(a),b,a)}}function s(){var a=this;l.call(a,0,0,{Pc:wa}),j.$Each(ob,function(b){1&Wa&&b.af(wa),a.sc(b),b.$Shift(Ua/Ca)})}function t(){var a=this,b=kb.$Elmt;l.call(a,-1,2,{$Easing:i.$Linear,Ce:{Kb:z},Pc:wa},b,{Kb:1},{Kb:-2}),a.ic=b}function u(a,b){var d,h,i,j,k,c=this;l.call(c,-1e8,2e8,{xe:100}),c.te=function(){$a=f,ab=e,q.m(n.$EVT_SWIPE_START,P(hb.gb()),hb.gb())},c.ue=function(){$a=g,j=g;var a=hb.ye();q.m(n.$EVT_SWIPE_END,P(hb.gb()),hb.gb()),!a.Kb&&K(a.De,ta)},c.Tb=function(a,b){var c;if(j)c=k;else if(c=h,i){var e=b/i;c=$.$SlideEasing(e)*(h-d)+d}hb.I(c)},c.bc=function(a,b,e,f){d=a,h=b,i=e,hb.I(a),c.I(0),c.Pd(e,f)},c.mg=function(a){j=f,k=a,c.$Play(a,e,f)},c.lg=function(a){k=a},hb=new r,hb.O(a),hb.O(b)}function v(){var a=this,b=O();j.H(b,0),j.$Css(b,"pointerEvents","none"),a.$Elmt=b,a.Ge=function(a){j.$AppendChild(b,a),j.A(b)},a.Jb=function(){j.V(b),j.Bc(b)}}function w(a,b){function E(b){i&&i.Dd(),O(a,b,0),y=f,i=new ca.$Class(a,ca,j.Ae(j.$AttributeEx(a,"idle"))||Qa,!Oa),i.I(0)}function F(){i.tc<ca.tc&&E()}function G(a,d,e){if(!v&&(v=f,p&&e)){var h=e.width,i=e.height,k=h,l=i;if(h&&i&&$.$FillMode){if(3&$.$FillMode&&(!(4&$.$FillMode)||h>xa||i>ya)){var m=g,o=xa/ya*i/h;1&$.$FillMode?m=o>1:2&$.$FillMode&&(m=o<1),k=m?h*ya/i:xa,l=m?ya:i*xa/h}j.$CssWidth(p,k),j.$CssHeight(p,l),j.z(p,(ya-l)/2),j.u(p,(xa-k)/2)}j.C(p,"absolute"),q.m(n.$EVT_LOAD_END,b)}j.V(d),a&&a(c)}function H(a,d,e,f){if(f==ab&&ta==b&&Oa&&!Na){var g=P(a);pb.Pe(g,b,d,c,e),d.ig(),ib.$Shift(g-ib.Yb()-1),ib.I(g),jb.bc(a,a,0)}}function I(c){if(c==ab&&ta==b){if(!B){var d=e;pb&&(pb.sb==b?d=pb.Ve():pb.Jb()),F(),B=new x(a,b,d,i),B.wd(D)}!B.$IsPlaying()&&B.pc()}}function J(a,f,g){if(a==b){a!=f?ob[f]&&ob[f].Uc():!g&&B&&B.rf(),D&&D.$Enable();var h=ab=j.R();c.Eb(j.$CreateCallback(e,I,h))}else{var i=d.min(b,a),k=d.max(b,a),l=d.min(k-i,i+wa-k),m=Da+$.$LazyLoading-1;(!w||l<=m)&&c.Eb()}}function K(){ta==b&&B&&(B.ub(),D&&D.$Quit(),D&&D.$Disable(),B.hd())}function L(){ta==b&&B&&B.ub()}function M(a){!Ya&&q.m(n.$EVT_CLICK,b,a)}function N(){D=C.pInstance,B&&B.wd(D)}function O(a,b,c,d){if(!j.$Attribute(a,"jssor-slider")){if(!y){"IMG"==a.tagName&&(r.push(a),j.$Attribute(a,"src")||(w=f,a["display-origin"]=j.hb(a),j.V(a)));var e=j.Te(a);if(e){var i=new Image;j.$AttributeEx(i,"src2",e),r.push(i)}c&&(j.H(a,(j.H(a)||0)+1),j.uc(a,j.uc(a)||0),j.wc(a,j.wc(a)||0),j.qb(a,{$TranslateZ:0})),d=d||a.style.pointerEvents||j.oc(a)}var k=j.$Children(a);j.$Each(k,function(e){var h=e.tagName,i=j.$AttributeEx(e,"u");if("player"!=i||C||(C=e,C.pInstance?N():j.$AddEvent(C,"dataavailable",N)),"caption"==i){if(b)j.ke(e,j.$AttributeEx(e,"to")),j.wf(e,j.$AttributeEx(e,"bf")),A&&j.$AttributeEx(e,"3d")&&j.jf(e,"preserve-3d");else if(!j.$IsBrowserIE()){var k=j.$CloneNode(e,g,f);j.hc(k,e,a),j.Gb(e,a),e=k,b=f}}else y||c||p||("A"==h?(p="image"==j.$AttributeEx(e,"u")?j.of(e,"IMG"):j.$FindChild(e,"image",f),p&&(s=e,j.hb(s,"block"),j.N(s,qa),t=j.$CloneNode(s,f),j.C(s,"relative"),
j.Lb(t,0),j.$Css(t,"backgroundColor","#000"))):"IMG"==h&&"image"==j.$AttributeEx(e,"u")&&(p=e),p&&(p.border=0,j.N(p,qa)));O(e,b,c+1,d)}),!y&&c&&!d&&j.$Css(a,"pointerEvents","A"==a.tagName?"all":c>1?h:"none")}}var i,m,o,p,s,t,u,v,w,y,A,B,C,D,c=this,r=[];l.call(c,-Da,Da+1,{}),c.Eb=function(a,c){c=c||o,r.length&&!v?(j.A(c),u||(u=f,q.m(n.$EVT_LOAD_START,b),j.$Each(r,function(a){j.$Attribute(a,"src")||(a.src=j.$AttributeEx(a,"src2")||"",j.hb(a,a["display-origin"]))})),j.Ee(r,p,j.$CreateCallback(e,G,a,c))):G(a,c)},c.df=function(){var a=b;$.$AutoPlaySteps<0&&(a-=wa);var f=a+$.$AutoPlaySteps*aa;if(2&Wa&&(f=P(f)),1&Wa||Ta||(f=d.max(0,d.min(f,wa-Da))),f!=b){if(pb){var g=pb.Be(wa);if(g){var h=ab=j.R(),i=ob[P(f)];return i.Eb(j.$CreateCallback(e,H,f,i,g,h),o)}}W(f)}else $.$Loop&&(c.Uc(),J(b,b))},c.xc=function(){J(b,b,f)},c.Uc=function(){D&&D.$Quit(),D&&D.$Disable(),c.je(),B&&B.Kf(),B=e,E()},c.ig=function(){j.V(a)},c.je=function(){j.A(a)},c.If=function(){D&&D.$Enable()},c.Gc=function(a,b){var c=Da-b;z(m,c)},c.sb=b,k.call(c),A=j.$AttributeEx(a,"p"),j.hf(a,A),j.lf(a,j.$AttributeEx(a,"po"));var Q=j.$FindChild(a,"thumb",f);Q&&(c.Pf=j.$CloneNode(Q),j.V(Q)),j.A(a),o=j.$CloneNode(ja),j.H(o,1e3),j.$AddEvent(a,"click",M),E(f),c.Ub=p,c.Jd=t,c.od=a,c.ic=m=a,j.$AppendChild(m,o),q.$On(203,J),q.$On(28,L),q.$On(24,K)}function x(a,b,c,d){function v(){j.Bc(qb),Ma&&r&&u.Jd&&j.$AppendChild(qb,u.Jd),j.A(qb,!r&&u.Ub)}function w(){e.pc()}function x(a){t=a,e.ub(),e.pc()}var k,m,o,p,r,s,t,e=this,h=0,i=0,u=ob[b];l.call(e,0,0),e.pc=function(){var a=e.xb();if(!_a&&!$a&&!t&&ta==b){a||(k&&!r&&(r=f,e.hd(f),q.m(n.$EVT_SLIDESHOW_START,b,h,i,k,p)),v());var c,d=n.$EVT_STATE_CHANGE;a!=p&&(c=a==o?p:a==m?o:a?e.Sd():m),q.m(d,b,a,h,m,o,p);var g=Oa&&(!Pa||Za);a==p?(o!=p&&!(12&Pa)||g)&&u.df():(g||a!=o)&&e.Pd(c,w)}},e.rf=function(){o==p&&o==e.xb()&&e.I(m)},e.Kf=function(){pb&&pb.sb==b&&pb.Jb();var a=e.xb();a<p&&q.m(n.$EVT_STATE_CHANGE,b,-a-1,h,m,o,p)},e.hd=function(a){c&&j.mb(Ea,a&&c.rc.$Outside?"":"hidden")},e.Gc=function(a,c){r&&c>=k&&(r=g,v(),u.je(),pb.Jb(),q.m(n.$EVT_SLIDESHOW_END,b,h,i,k,p)),q.m(n.$EVT_PROGRESS_CHANGE,b,c,h,m,o,p)},e.wd=function(a){a&&!s&&(s=a,a.$On($JssorPlayer$.He,x))},c&&e.sc(c),k=e.vb(),e.sc(d),m=k+d.be,p=e.vb(),o=Oa?k+d.de:p}function y(a,b,c){j.u(a,b),j.z(a,c)}function z(a,b){var c=Fa>0?Fa:_,d=Aa*b*(1&c),e=Ba*b*(c>>1&1);y(a,d,e)}function A(){ub=$a,vb=jb.Sd(),tb=hb.gb()}function B(){A(),(_a||!Za&&12&Pa)&&(jb.ub(),q.m(n.yf))}function C(a){if(!_a&&(Za||!(12&Pa))&&!jb.$IsPlaying()){var b=hb.gb(),c=d.ceil(tb);a&&d.abs(db)>=$.$MinDragOffsetToSlide&&(c=d.ceil(b),c+=fb),1&Wa||(c=d.min(wa-Da,d.max(c,0)));var e=d.abs(c-b);e=1-d.pow(1-e,5),!Ya&&ub?jb.Qe(vb):b==c?(va.If(),va.xc()):jb.bc(b,c,e*Ra)}}function D(a){!j.$AttributeEx(j.$EvtSrc(a),"nodrag")&&j.$CancelEvent(a)}function E(a){F(a,1)}function F(a,b){a=j.we(a);var d=j.$EvtSrc(a);if(!Ga&&!j.$AttributeEx(d,"nodrag")&&M()&&(!b||1==a.touches.length)){if(_a=f,Ha=g,ab=e,j.$AddEvent(c,b?"touchmove":"mousemove",G),j.R(),Ya=0,B(),ub||(Fa=0),b){var h=a.touches[0];bb=h.clientX,cb=h.clientY}else{var i=j.ge(a);bb=i.x,cb=i.y}db=0,eb=0,fb=0,q.m(n.$EVT_DRAG_START,P(tb),tb,a)}}function G(a){if(_a){a=j.we(a);var b;if("mousemove"!=a.type){var c=a.touches[0];b={x:c.clientX,y:c.clientY}}else b=j.ge(a);if(b){var e=b.x-bb,g=b.y-cb;if(d.floor(tb)!=tb&&(Fa=Fa||_&Ga),!e&&!g||Fa||(Fa=3==Ga?d.abs(g)>d.abs(e)?2:1:Ga,sb&&1==Fa&&d.abs(g)-d.abs(e)>3&&(Ha=f)),Fa){var h=g,i=Ba;if(1==Fa&&(h=e,i=Aa),!(1&Wa)){if(h>0){var k=i*ta,l=h-k;l>0&&(h=k+5*d.sqrt(l))}if(h<0){var k=i*(wa-Da-ta),l=-h-k;l>0&&(h=-k-5*d.sqrt(l))}}db-eb<-2?fb=0:db-eb>2&&(fb=-1),eb=db,db=h,wb=tb-db/i/(lb||1),db&&Fa&&!Ha&&(j.$CancelEvent(a),$a?jb.lg(wb):jb.mg(wb))}}}}function H(){if(N(),_a){_a=g,j.R(),j.S(c,"mousemove",G),j.S(c,"touchmove",G),Ya=db,jb.ub();var a=hb.gb();q.m(n.$EVT_DRAG_END,P(a),a,P(tb),tb),12&Pa&&A(),C(f)}}function I(a){if(Ya){j.$StopEvent(a);for(var b=j.$EvtSrc(a);b&&ia!==b;){"A"==b.tagName&&j.$CancelEvent(a);try{b=b.parentNode}catch(a){break}}}}function J(a){return ob[ta],ta=P(a),va=ob[ta],L(a),ta}function K(a,b){Fa=0,J(a),q.m(n.$EVT_PARK,P(a),b)}function L(a,b){ua=a,j.$Each(Ia,function(c){c.Jc(P(a),a,b)})}function M(){var a=n.Wd||0,b=Xa;return sb&&1&b&&(b&=1),n.Wd|=b,Ga=b&~a}function N(){Ga&&(n.Wd&=~Xa,Ga=0)}function O(){var a=j.$CreateDiv();return j.N(a,qa),j.C(a,"absolute"),a}function P(a){return(a%wa+wa)%wa}function Q(a,b){b&&(Wa?2&Wa&&(a=P(a+ua),b=g):(a=d.min(d.max(a+ua,0),wa-Da),b=g)),W(a,$.$SlideDuration,b)}function R(){j.$Each(Ia,function(a){a.Mc(a.Nb.$ChanceToShow<=Za)})}function S(){Za||(Za=1,R(),_a||(12&Pa&&C(),3&Pa&&ob[ta]&&ob[ta].xc()))}function T(){Za&&(Za=0,R(),_a||!(12&Pa)||B())}function U(){qa={Q:xa,T:ya,$Top:0,$Left:0},j.$Each(ra,function(a){j.N(a,qa),j.C(a,"absolute"),j.mb(a,"hidden"),j.V(a)}),j.N(ja,qa)}function V(a,b){W(a,b,f)}function W(a,b,c){if(Va&&(!_a&&(Za||!(12&Pa))||$.$NaviQuitDrag)){$a=f,_a=g,jb.ub(),b==h&&(b=Ra);var e=gb.xb(),i=a;c&&(i=e+a,i=a>0?d.ceil(i):d.floor(i)),2&Wa&&(i=P(i)),1&Wa||(i=d.max(0,d.min(i,wa-Da)));var j=(i-e)%wa;i=e+j;var k=e==i?0:b*d.abs(j);k=d.min(k,b*Da*1.5),jb.bc(e,i,k||1)}}function X(){return j.$CssWidth(ha||a)}function Y(){return j.$CssHeight(ha||a)}function Z(b,d){if(b==h)return j.$CssWidth(a);if(!ha){var e=j.$CreateDiv(c);j.oc(e,j.oc(a)),j.$CssCssText(e,j.$CssCssText(a)),j.hb(e,"block"),j.C(e,"relative"),j.z(e,0),j.u(e,0),j.mb(e,"visible"),ha=j.$CreateDiv(c),j.C(ha,"absolute"),j.z(ha,0),j.u(ha,0),j.$CssWidth(ha,j.$CssWidth(a)),j.$CssHeight(ha,j.$CssHeight(a)),j.ke(ha,"0 0"),j.$AppendChild(ha,e);var f=j.$Children(a);j.$AppendChild(a,ha),j.$Css(a,"backgroundImage",""),j.$Each(f,function(b){j.$AppendChild(j.$AttributeEx(b,"noscale")?a:e,b),j.$AttributeEx(b,"autocenter")&&mb.push(b)})}lb=b/(d?j.$CssHeight:j.$CssWidth)(ha),j.kf(ha,lb);var g=d?lb*X():b,i=d?b:lb*Y();j.$CssWidth(a,g),j.$CssHeight(a,i),j.$Each(mb,function(a){var b=j.gc(j.$AttributeEx(a,"autocenter"));j.eg(a,b)})}var q=this;q.$PlayTo=W,q.$GoTo=function(a){hb.I(J(a))},q.$Next=function(){V(1)},q.$Prev=function(){V(-1)},q.$Pause=function(){Oa=g},q.$Play=function(){Oa||(Oa=f,ob[ta]&&ob[ta].xc())},q.$SetSlideshowTransitions=function(a){$.$SlideshowOptions.$Transitions=a},q.$SetCaptionTransitions=function(a){ca.$Transitions=a,ca.tc=j.R()},q.$SlidesCount=function(){return ra.length},q.$CurrentIndex=function(){return ta},q.$IsAutoPlaying=function(){return Oa},q.$IsDragging=function(){return _a},q.$IsSliding=function(){return $a},q.$IsMouseOver=function(){return!Za},q.$LastDragSucceded=function(){return Ya},q.$OriginalWidth=q.$GetOriginalWidth=X,q.$OriginalHeight=q.$GetOriginalHeight=Y,q.$ScaleHeight=q.$GetScaleHeight=function(b){return b==h?j.$CssHeight(a):void Z(b,f)},q.$ScaleWidth=q.$SetScaleWidth=q.$GetScaleWidth=Z,q.ne=function(a){var b=d.ceil(P(Ua/Ca)),c=P(a-ta+b);return c>Da?a-ta>wa/2?a-=wa:a-ta<=-wa/2&&(a+=wa):a=ta+c-b,a},k.call(q),q.$Elmt=a=j.$GetElement(a);var $=j.p({$FillMode:0,$LazyLoading:1,$ArrowKeyNavigation:1,$StartIndex:0,$AutoPlay:g,$Loop:1,$HWA:f,$NaviQuitDrag:f,$AutoPlaySteps:1,$AutoPlayInterval:4e3,$PauseOnHover:1,$SlideDuration:300,$SlideEasing:i.$OutQuad,$MinDragOffsetToSlide:20,$SlideSpacing:0,$Cols:1,$Align:0,$UISearchMode:1,$PlayOrientation:1,$DragOrientation:1},m);$.$HWA=$.$HWA&&j.Of(),$.$Idle!=h&&($.$AutoPlayInterval=$.$Idle),$.$ParkingPosition!=h&&($.$Align=$.$ParkingPosition);var _=3&$.$PlayOrientation,aa=(4&$.$PlayOrientation)/-4||1,ba=$.$SlideshowOptions,ca=j.p({$Class:p,$PlayInMode:1,$PlayOutMode:1,$HWA:$.$HWA},$.$CaptionSliderOptions);ca.$Transitions=ca.$Transitions||ca.$CaptionTransitions;var ha,qa,da=$.$BulletNavigatorOptions,ea=$.$ArrowNavigatorOptions,fa=$.$ThumbnailNavigatorOptions,ga=!$.$UISearchMode,ia=j.$FindChild(a,"slides",ga),ja=j.$FindChild(a,"loading",ga)||j.$CreateDiv(c),ka=j.$FindChild(a,"navigator",ga),la=j.$FindChild(a,"arrowleft",ga),ma=j.$FindChild(a,"arrowright",ga),na=j.$FindChild(a,"thumbnavigator",ga),oa=j.$CssWidth(ia),pa=j.$CssHeight(ia),ra=[],sa=j.$Children(ia);j.$Each(sa,function(a){"DIV"==a.tagName&&!j.$AttributeEx(a,"u")&&ra.push(a),j.H(a,(j.H(a)||0)+1)});var ua,va,Ea,Fa,Ga,Ha,Ja,Ka,La,Ma,Na,Oa,Sa,Ta,Ua,Xa,Ya,$a,_a,ab,db,eb,fb,gb,hb,ib,jb,lb,ta=-1,wa=ra.length,xa=$.$SlideWidth||oa,ya=$.$SlideHeight||pa,za=$.$SlideSpacing,Aa=xa+za,Ba=ya+za,Ca=1&_?Aa:Ba,Da=d.min($.$Cols,wa),Ia=[],Pa=$.$PauseOnHover,Qa=$.$AutoPlayInterval,Ra=$.$SlideDuration,Va=Da<wa,Wa=Va?$.$Loop:0,Za=1,bb=0,cb=0,kb=new v,mb=[];if(wa){$.$HWA&&(y=function(a,b,c){j.qb(a,{$TranslateX:b,$TranslateY:c})}),Oa=$.$AutoPlay,q.Nb=m,U(),j.$Attribute(a,"jssor-slider",f),j.H(ia,j.H(ia)||0),j.C(ia,"absolute"),Ea=j.$CloneNode(ia,f),j.hc(Ea,ia),ba&&(Ma=ba.$ShowLink,Sa=ba.$Class,Ta=1==Da&&wa>1&&Sa&&(!j.$IsBrowserIE()||j.$BrowserVersion()>=8)),Ua=Ta||Da>=wa||!(1&Wa)?0:$.$Align,Xa=(Da>1||Ua?_:-1)&$.$DragOrientation;var pb,qb,tb,ub,vb,wb,nb=ia,ob=[],rb=j.$Device(),sb=rb.Af;rb.ce&&j.$Css(nb,rb.ce,[e,"pan-y","pan-x","none"][Xa]||""),ib=new t,Ta&&(pb=new Sa(kb,xa,ya,ba,sb)),j.$AppendChild(Ea,ib.ic),j.mb(ia,"hidden"),qb=O(),j.$Css(qb,"backgroundColor","#000"),j.Lb(qb,0),j.hc(qb,nb.firstChild,nb);for(var xb=0;xb<ra.length;xb++){var yb=ra[xb],zb=new w(yb,xb);ob.push(zb)}j.V(ja),gb=new s,jb=new u(gb,ib),j.$AddEvent(ia,"click",I,f),j.$AddEvent(a,"mouseout",j.Rb(S,a)),j.$AddEvent(a,"mouseover",j.Rb(T,a)),Xa&&(j.$AddEvent(ia,"mousedown",F),j.$AddEvent(ia,"touchstart",E),j.$AddEvent(ia,"dragstart",D),j.$AddEvent(ia,"selectstart",D),j.$AddEvent(c,"mouseup",H),j.$AddEvent(c,"touchend",H),j.$AddEvent(c,"touchcancel",H),j.$AddEvent(b,"blur",H)),Pa&=sb?10:5,ka&&da&&(Ja=new da.$Class(ka,da,X(),Y()),Ia.push(Ja)),ea&&la&&ma&&(ea.$Loop=Wa,ea.$Cols=Da,Ka=new ea.$Class(la,ma,ea,X(),Y()),Ia.push(Ka)),na&&fa&&(fa.$StartIndex=$.$StartIndex,La=new fa.$Class(na,fa),Ia.push(La)),j.$Each(Ia,function(a){a.Hc(wa,ob,ja),a.$On(o.nc,Q)}),j.$Css(a,"visibility","visible"),Z(X()),R(),$.$ArrowKeyNavigation&&j.$AddEvent(c,"keydown",function(a){37==a.keyCode?V(-$.$ArrowKeyNavigation):39==a.keyCode&&V($.$ArrowKeyNavigation)});var Ab=$.$StartIndex;1&Wa||(Ab=d.max(0,d.min(Ab,wa-Da))),jb.bc(Ab,Ab,0)}};n.$EVT_CLICK=21,n.$EVT_DRAG_START=22,n.$EVT_DRAG_END=23,n.$EVT_SWIPE_START=24,n.$EVT_SWIPE_END=25,n.$EVT_LOAD_START=26,n.$EVT_LOAD_END=27,n.yf=28,n.$EVT_POSITION_CHANGE=202,n.$EVT_PARK=203,n.$EVT_SLIDESHOW_START=206,n.$EVT_SLIDESHOW_END=207,n.$EVT_PROGRESS_CHANGE=208,n.$EVT_STATE_CHANGE=209;var o={nc:1};b.$JssorBulletNavigator$=function(a,b){function A(a){a!=-1&&z[a].id(a==n)}function B(a){c.m(o.nc,a*q)}var c=this;k.call(c),a=j.$GetElement(a);var h,i,l,m,p,q,r,s,t,u,v,w,x,n=0,y=[],z=[];c.$Elmt=a,c.Jc=function(a){if(a!=m){var b=n,c=d.floor(a/q);n=c,m=a,A(b),A(c)}},c.Mc=function(b){j.A(a,b)};var C;c.Hc=function(b){if(!C){h=d.ceil(b/q),n=0;var c=w+s,g=x+t,k=d.ceil(h/r)-1;i=w+c*(u?r-1:k),l=x+g*(u?k:r-1),j.$CssWidth(a,i),j.$CssHeight(a,l);for(var m=0;m<h;m++){var o=j.fg();j.$InnerText(o,m+1);var A=j.dd(v,"numbertemplate",o,f);j.C(A,"absolute");var D=m%(k+1);j.u(A,u?m%r*c:c*D),j.z(A,u?g*D:d.floor(m/(k+1))*g),j.$AppendChild(a,A),y[m]=A,1&p.$ActionMode&&j.$AddEvent(A,"click",j.$CreateCallback(e,B,m)),2&p.$ActionMode&&j.$AddEvent(A,"mouseover",j.Rb(j.$CreateCallback(e,B,m),A)),z[m]=j.mc(A)}C=f}},c.Nb=p=j.p({$SpacingX:10,$SpacingY:10,$Orientation:1,$ActionMode:1},b),v=j.$FindChild(a,"prototype"),w=j.$CssWidth(v),x=j.$CssHeight(v),j.Gb(v,a),q=p.$Steps||1,r=p.$Rows||1,s=p.$SpacingX,t=p.$SpacingY,u=p.$Orientation-1,p.$Scale==g&&j.$Attribute(a,"noscale",f),p.$AutoCenter&&j.$Attribute(a,"autocenter",p.$AutoCenter)},b.$JssorArrowNavigator$=function(a,b,c){function q(a){d.m(o.nc,a,f)}function r(c){j.A(a,c),j.A(b,c)}function s(){n.$Enable(c.$Loop||i>0),p.$Enable(c.$Loop||i<h-c.$Cols)}var d=this;k.call(d);var h,i,l,m;j.$CssWidth(a),j.$CssHeight(a);var n,p;d.Jc=function(a,b,c){c?i=b:(i=a,s())},d.Mc=r;var t;d.Hc=function(c){h=c,i=0,t||(j.$AddEvent(a,"click",j.$CreateCallback(e,q,-m)),j.$AddEvent(b,"click",j.$CreateCallback(e,q,m)),n=j.mc(a),p=j.mc(b),t=f)},d.Nb=l=j.p({$Steps:1},c),m=l.$Steps,l.$Scale==g&&(j.$Attribute(a,"noscale",f),j.$Attribute(b,"noscale",f)),l.$AutoCenter&&(j.$Attribute(a,"autocenter",l.$AutoCenter),j.$Attribute(b,"autocenter",l.$AutoCenter))},b.$JssorThumbnailNavigator$=function(a,b){function A(a,b){function m(){h.id(i==b)}function n(a){if(a||!x.$LastDragSucceded()){var d=r-b%r,e=x.ne((b+d)/r-1),f=e*r+r-d;c.m(o.nc,f)}}var g,h,k,d=this;d.sb=b,d.he=m,k=a.Pf||a.Ub||j.$CreateDiv(),d.ic=g=j.dd(z,"thumbnailtemplate",k,f),h=j.mc(g),1&l.$ActionMode&&j.$AddEvent(g,"click",j.$CreateCallback(e,n,0)),2&l.$ActionMode&&j.$AddEvent(g,"mouseover",j.Rb(j.$CreateCallback(e,n,1),g))}var h,i,l,p,q,r,s,t,u,v,w,x,y,z,c=this,m=[];k.call(c),a=j.$GetElement(a),c.Jc=function(a,b,c){var e=i;i=a,e!=-1&&m[e].he(),m[a].he(),!c&&x.$PlayTo(x.ne(d.floor(b/r)))},c.Mc=function(b){j.A(a,b)};var B;c.Hc=function(b,c){if(!B){h=b,d.ceil(h/r),i=-1,w=d.min(w,c.length);var e=1&l.$Orientation,k=u+(u+s)*(r-1)*(1-e),o=v+(v+t)*(r-1)*e,z=k+(k+s)*(w-1)*e,C=o+(o+t)*(w-1)*(1-e);j.C(y,"absolute"),j.mb(y,"hidden"),1&l.$AutoCenter&&j.u(y,(p-z)/2),2&l.$AutoCenter&&j.z(y,(q-C)/2),j.$CssWidth(y,z),j.$CssHeight(y,C);var D=[];j.$Each(c,function(a,b){var c=new A(a,b),f=c.ic,g=d.floor(b/r),h=b%r;j.u(f,(u+s)*h*(1-e)),j.z(f,(v+t)*h*e),D[g]||(D[g]=j.$CreateDiv(),j.$AppendChild(y,D[g])),j.$AppendChild(D[g],f),m.push(c)});var E=j.p({$AutoPlay:g,$NaviQuitDrag:g,$SlideWidth:k,$SlideHeight:o,$SlideSpacing:s*e+t*(1-e),$MinDragOffsetToSlide:12,$SlideDuration:200,$PauseOnHover:1,$PlayOrientation:l.$Orientation,$DragOrientation:l.$NoDrag||l.$DisableDrag?0:l.$Orientation},l);x=new n(a,E),B=f}},c.Nb=l=j.p({$SpacingX:0,$SpacingY:0,$Cols:1,$Orientation:1,$AutoCenter:3,$ActionMode:1},b),p=j.$CssWidth(a),q=j.$CssHeight(a),y=j.$FindChild(a,"slides",f),z=j.$FindChild(y,"prototype"),u=j.$CssWidth(z),v=j.$CssHeight(z),j.Gb(z,y),r=l.$Rows||1,s=l.$SpacingX,t=l.$SpacingY,w=l.$Cols,l.$Scale==g&&j.$Attribute(a,"noscale",f)},b.$JssorCaptionSlideo$=function(a,b,c,g){function u(a,b){var c={};return j.$Each(a,function(a,d){var e=m[d];e&&(j.Td(a)?a=u(a,b||"e"==d):b&&j.ec(a)&&(a=k[a]),c[e]=a)}),c}function v(a,b){var c=[],d=j.$Children(a);return j.$Each(d,function(a){var d="caption"==j.$AttributeEx(a,"u");if(d){var e=j.$AttributeEx(a,"t"),f=n[j.gc(e)]||n[e],g={$Elmt:a,rc:f};c.push(g)}c=c.concat(v(a,b+1))}),c}function w(a,b){var c=q[a];if(c==e){c=q[a]={Y:a,Oc:[],Yd:[]};var d=0;!j.$Each(r,function(b,c){return d=c,b.Y>a})&&d++,r.splice(d,0,c)}return c}function x(a,b,c){var g,h;if(o){var i=j.$AttributeEx(a,"c");if(i){var k=o[j.gc(i)];k&&(g=w(k.r,0),g.ze=k.e||0)}}if(j.$Each(b,function(b){var e=j.p(f,{},u(b)),i=j.Dc(e.$Easing);delete e.$Easing,e.$Left&&(e.F=e.$Left,i.F=i.$Left,delete e.$Left),e.$Top&&(e.E=e.$Top,i.E=i.$Top,delete e.$Top);var k={$Easing:i,$OriginalWidth:c.Q,$OriginalHeight:c.T},m=new l(b.b,b.d,k,a,c,e);if(t=d.max(t,b.b+b.d),g)h||(h=new l(b.b,0)),h.O(m);else{var n=w(b.b,b.b+b.d);n.Oc.push(m)}c=j.Ze(c,e)}),g&&h){h.Ne();var n,m=h,p=h.Yb(),q=h.vb(),r=d.max(q,g.ze);g.Y<q&&(g.Y>p?(m=new l(p,g.Y-p),m.O(h,f)):m=e,n=new l(g.Y,r-p,{Pc:r-g.Y,We:f}),n.O(h,f)),m&&g.Oc.push(m),n&&g.Yd.push(n)}return c}function y(a){j.$Each(a,function(a){var b=a.$Elmt,c=j.$CssWidth(b),d=j.$CssHeight(b),e={$Left:j.u(b),$Top:j.z(b),F:0,E:0,$Opacity:1,$ZIndex:j.H(b)||0,$Rotate:0,$RotateX:0,$RotateY:0,$ScaleX:1,$ScaleY:1,$TranslateX:0,$TranslateY:0,$TranslateZ:0,$SkewX:0,$SkewY:0,Q:c,T:d,$Clip:{$Top:0,$Right:c,$Bottom:d,$Left:0}};e.Fd=e.$Left,e.Ed=e.$Top,x(b,a.rc,e)})}function z(a,b,c){var d=a.b-b;if(d){var e=new l(b,d);e.O(p,f),e.$Shift(c),h.O(e)}return h.Ud(a.d),d}function A(a){var b=p.Yb(),d=0;j.$Each(a,function(a,e){a=j.p({d:c},a),z(a,b,d),b=a.b,d+=a.d,e&&2!=a.t||(h.be=b,h.de=b+a.d)})}function B(a,b,c){var e=b.length;if(e>4)for(var f=d.ceil(e/4),g=0;g<f;g++){var h=b.slice(4*g,d.min(4*g+4,e)),i=new l(h[0].Y,0);B(i,h,c),a.O(i)}else j.$Each(b,function(b){j.$Each(c?b.Yd:b.Oc,function(b){c&&b.Ud(t-b.vb()),a.O(b)})})}var k,h=this,m={},n=b.$Transitions,o=b.$Controls,p=new l(0,0),q=[],r=[],s=g,t=s?1e8:0;l.call(h,0,0),h.Dd=function(){h.I(-1,f)},k=[i.$Linear,i.$Swing,i.$InQuad,i.$OutQuad,i.$InOutQuad,i.$InCubic,i.$OutCubic,i.$InOutCubic,i.$InQuart,i.$OutQuart,i.$InOutQuart,i.$InQuint,i.$OutQuint,i.$InOutQuint,i.$InSine,i.$OutSine,i.$InOutSine,i.$InExpo,i.$OutExpo,i.$InOutExpo,i.$InCirc,i.$OutCirc,i.$InOutCirc,i.$InElastic,i.$OutElastic,i.$InOutElastic,i.$InBack,i.$OutBack,i.$InOutBack,i.$InBounce,i.$OutBounce,i.$InOutBounce,i.$Instant];var C={$Top:"y",$Left:"x",$Bottom:"m",$Right:"t",$Rotate:"r",$RotateX:"rX",$RotateY:"rY",$ScaleX:"sX",$ScaleY:"sY",$TranslateX:"tX",$TranslateY:"tY",$TranslateZ:"tZ",$SkewX:"kX",$SkewY:"kY",$Opacity:"o",$Easing:"e",$ZIndex:"i",$Clip:"c"};j.$Each(C,function(a,b){m[a]=b}),y(v(a,1)),B(p,r);var D=b.$Breaks||[],E=[].concat(D[j.gc(j.$AttributeEx(a,"b"))]||[]);E.push({b:t,d:E.length?0:c}),A(E),t=d.max(t,h.vb()),B(h,r,f),h.I(-1)}}(window,document,Math,null,!0,!1),jssor_1_slider_init=function(){function c(){var a=b.$Elmt.parentNode.clientWidth;a?(a=Math.min(a,1920),b.$ScaleWidth(a)):window.setTimeout(c,30)}var a={$AutoPlay:!0,$SlideDuration:300,$SlideEasing:$Jease$.$OutQuint,$ArrowNavigatorOptions:{$Class:$JssorArrowNavigator$},$BulletNavigatorOptions:{$Class:$JssorBulletNavigator$}},b=new $JssorSlider$("jssor_1",a);c(),$Jssor$.$AddEvent(window,"load",c),$Jssor$.$AddEvent(window,"resize",c),$Jssor$.$AddEvent(window,"orientationchange",c)};
  </script>
  <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1500px;height:400px;overflow:hidden;visibility:hidden;">
    <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1500px;height:400px;overflow:hidden;">
       <div onClick="ga('send', 'event', 'Expand', 'Click', 'Slideshow Triggered');">
        <img data-u="image" src="{{'press-slider5.jpg'| asset_url}}" />
      </div>
      <div>
        <img src="{{'not-bold-slider.jpg'| asset_url}}" style="width: 100%;" />
      </div>
      <div>
        <img data-u="image" src="{{'press-slider2.jpg'| asset_url}}" />
      </div>
      <div>
        <img data-u="image" src="{{'press-slider3.jpg'| asset_url}}" />
      </div>
      <div>
        <img data-u="image" src="{{'press-slider4.jpg'| asset_url}}" />
      </div>
      <div>
        <img data-u="image" src="{{'press-slider6.jpg'| asset_url}}" />
      </div>
      <div>
        <img data-u="image" src="{{'press-slider7.jpg'| asset_url}}" />
      </div>
      <div>
        <img data-u="image" src="{{'press-slider8.jpg'| asset_url}}" />
      </div>
    </div>
    <!-- Bullet Navigator -->
    <div data-u="navigator" class="jssorb05" style="bottom:0px;right:16px;" data-autocenter="1">
      <!-- bullet navigator item prototype -->
      <div data-u="prototype" style="width:16px;height:16px;" onClick="ga('send', 'event', 'Expand', 'Click', 'Slideshow Triggered');"></div>
    </div>
    <!-- Arrow Navigator -->
    <span data-u="arrowleft" class="jssora22l" style="top:0px;left:8px;" data-autocenter="2" onClick="ga('send', 'event', 'Expand', 'Click', 'Slideshow Triggered');"></span>
    <span data-u="arrowright" class="jssora22r" style="top:0px;right:8px;" data-autocenter="2" onClick="ga('send', 'event', 'Expand', 'Click', 'Slideshow Triggered');"></span>
  </div>
  <script type="text/javascript">jssor_1_slider_init();</script>


<div class="fw tc" id="problem">
    <h1>the problem</h1> <img src="{{'problem3.gif' | asset_url}}" alt="Constantly Adjusting or Losing your Socks?" class="fw ic do" /> <img src="{{'m-problem.gif' | asset_url}}" alt="Constantly Adjusting or Losing your Socks?" class="fw ic mo" /></div>
<div class="fw tc" id="solution">
    <h1>the solution</h1> <img src="{{'solution4.gif' | asset_url}}" alt="No odor, wear for months, slip in and out barefoot" class="fw ic do" /> <img src="{{'m-solution.gif' | asset_url}}" alt="Constantly Adjusting or Losing your Socks?" class="fw ic mo" /></div>
<div id="sub-head">
    <a href="/collections/women/products/select" class="button double" id="ctadb" onclick="ga('send', 'event', 'Call To Action', 'Click', 'Shop Now CTA');">Shop Now</a> <a href="/pages/learn-more" class="button double" id="ctadb" onclick="ga('send', 'event', 'Call To Action', 'Click', 'Learn More CTA');">Learn More</a>
</div>

<img src="{{'VOGUE-quote.jpg' | asset_url}}" alt="Vogue - 'you will never understand how you lived without it" class="fw" />
<div id="masonry">
    <ul>
        <li>
            <a href="/collections/women/products/womens-closet-pack" onclick="ga('send', 'event', 'Masonry', 'Click', 'Women');"> <img src="{{'shopwomen.jpg' | asset_url}}" alt="Shop Women" class="m vertical">
                <div class="ot" id="shopwomen">
                    <h2>women</h2>
                    <h4 class="bl">shop</h4></div>
            </a>
        </li>
        <li>
            <a href="/pages/about-us"> <img src="{{'ourstory.jpg' | asset_url}}" alt="Our Story" class="m horiz" onclick="ga('send', 'event', 'Masonry', 'Click', 'Our Story');">
                <div class="ot" id="ourstory">
                    <h2>our story</h2>
                    <h4 class="bl">get inspired</h4></div>
            </a>
        </li>
        <li>
            <a href="/pages/how-it-works"> <img src="{{'HIW-landing.jpg' | asset_url}}" alt="How It Works" class="m horiz" id="imghiw" onclick="ga('send', 'event', 'Masonry', 'Click', 'How It Works');">
                <div class="ot" id="learnmore">
                    <h2>how it works</h2>
                    <h4 class="bl">learn more</h4></div>
            </a>
        </li>
        <li>
            <a href="/collections/men/products/mens-closet-pack"> <img src="{{'shopmen.jpg' | asset_url}}" alt="Shop Men" class="m vertical" id="imgsm" onclick="ga('send', 'event', 'Masonry', 'Click', 'Men');">
                <div class="ot" id="shopmen">
                    <h2>men</h2>
                    <h4 class="bl">shop</h4></div>
            </a>
        </li>
    </ul>
</div>{% if settings.allow_newsletter and settings.mailchimp_code != empty %}
<div id="footer-email">
    <section id="newsletter" class="content">
        <div class="wrap">
            <header>
                <center>
                    <h3>cool shoe giveaways <br>every saturday</h3></center>
            </header>
            <div>
                <form action="{{settings.mailchimp_code}}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <input type="email" value="" name="EMAIL" class="required email email_update" id="mce-EMAIL" placeholder="write email" style="border: black 1px solid; line-height: 1;">
                    <input type="submit" value="go!" name="subscribe" id="mc-embedded-subscribe" class="btn">
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" class="hidden"></div>
                        <div class="response" id="mce-success-response" class="hidden"></div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>{% endif %}</div>
</div>
</div>
<script>
    $(window).load(function() {
        $("#masonry").css({
            height: $("#imgsm").height() + "px"
        }), $("#masonry ul").css({
            height: $("#imgsm").height() + "px"
        })
    }), $(window).on("resize", function() {
        $("#masonry").css({
            height: $("#imgsm").height() + "px"
        }), $("#masonry ul").css({
            height: $("#imgsm").height() + "px"
        })
    });
</script>
<script>$(".sb").click(function(){switch($this=$(this),$this.addClass("selected").siblings().removeClass("selected"),$this.attr("id")){case"flat":$("#flat-i").removeClass("hidden").siblings("img").addClass("hidden"),$("#flat-r").removeClass("hidden").siblings("img").addClass("hidden");break;case"loafer":$("#loafer-i").removeClass("hidden").siblings("img").addClass("hidden"),$("#loafer-r").removeClass("hidden").siblings("img").addClass("hidden");break;case"sneaker":$("#sneaker-i").removeClass("hidden").siblings("img").addClass("hidden"),$("#sneaker-r").removeClass("hidden").siblings("img").addClass("hidden")}}),$(document).on("ready",function(){setInterval(function(){switch($this=$(".sb.selected"),$this.removeClass("selected"),$this.attr("id")){case"sneaker":$("#loafer-i").removeClass("hidden").siblings("img").addClass("hidden"),$("#loafer-r").removeClass("hidden").siblings("img").addClass("hidden"),$("#loafer").addClass("selected");break;case"flat":$("#sneaker-i").removeClass("hidden").siblings("img").addClass("hidden"),$("#sneaker-r").removeClass("hidden").siblings("img").addClass("hidden"),$("#sneaker").addClass("selected");break;case"loafer":$("#flat-i").removeClass("hidden").siblings("img").addClass("hidden"),$("#flat-r").removeClass("hidden").siblings("img").addClass("hidden"),$("#flat").addClass("selected")}},3000)});</script>